<tr data-id="<%= bank_account_id %>">
    <td>
        <%= account_number || iban %>
    </td>
    <td>
        <%= verified_at ? 'Verified' : verify_started_at ? 'Verifying' : 'Not verified' %>
    </td>
    <td class="code">
        <%=  verify_code || '' %>
    </td>
    <td>
        <% if (!verified_at && !verify_started_at) { %>
            <button class="start-verify btn">Start verify</button>
        <% } %>
        <% if (!verified_at) { %>
            <button class="set-verified btn btn-warning">Set verified</button>
        <% } %>

        <button data-action="delete" class="btn btn-danger">Delete</button>
    </td>
</tr>
