<div class="settings-nav area-nav col-lg-3">
    <div class="jc-sidebar">
        <ul class="nav jc-sidenav">
            <li class="profile">
                <a href="#settings/profile">
                    <i class="fa fa-list"></i>
                    <%- i18n('settings.nav.profile') %>
                </a>
            </li>
            <li class="phone">
                <a href="#settings/phone"> 
                
                <i class="fa fa-mobile"></i>
                    <%- i18n('settings.nav.verifyphone') %>
                </a>
            </li>            
            <li class="identity">
                <a href="#settings/identity"> 
                <i class="fa fa-list"></i>
                    <%- i18n('settings.nav.identity') %>
                </a>
            </li>
            <li class="twofactor">
                <a href="#settings/twofactor">
                    <i class="fa fa-key"></i>
                    <%- i18n('settings.nav.two factor') %>
                </a>
            </li>
            <li class="apikeys">
                <a href="#settings/apikeys">
                    <i class="fa fa-key"></i>
                    <%- i18n('account.nav.apikeys') %>
                </a>
            </li>
            <li class="changepassword">
                <a href="#settings/changepassword">
                    <i class="fa fa-key"></i>
                    <%- i18n('settings.nav.change password') %>
                </a>
            </li>
        </ul>
    </div>
</div>