.amount-input
    states invalid empty

    .field[name="currency"]
        max-width 5em

    field[name="amount"]
        width 12.5

    &.is-fixed-currency
        field[name="amount"]
            width 10em
