
<div class="col-lg-9">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="content-title"><%=
                i18n('deposit.bank.EUR.heading') %></h1>

            <div class="content-area">
                <p class="lead visible-allowed"><%=
                    i18n('deposit.bank.EUR.intro') %></p>

                <div class="hidden-allowed">
                    <div class="alert lead">
                        Sorry, but at this time we do not accept bank
                        deposits from your country, <strong><%=
                            api.user.countryFriendly() %></strong>.
                    </div>
                </div>
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i>
                    <%- i18n('deposit.bank.warning', messageToRecipient) %>
                </div>
                <div class="payment-details visible-allowed">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><%=
                                    i18n('deposit.bank.recipient') %></td>
                                <td>Global Transaction Services LLC</td>
                            </tr>
                            <tr>
                                <td><%=
                                    i18n('deposit.bank.recipientAddress')
                                    %></td>
                                <td>1201 West Peachtree Street,
                                    Suite 32, 30309 Atlanta, Georgia,
                                    USA</td>
                            </tr>
                            <tr>
                                <td>IBAN</td>
                                <td>PL55124069600403009120161737</td>
                            </tr>
                            <tr>
                                <td>SWIFT</td>
                                <td>PKOPPLPW</td>
                            </tr>
                            <tr>
                                <td><%=
                                    i18n('deposit.bank.EUR.messageToRecipient')
                                    %></td>
                                <td><span class="label-messageToRecipient label label-info"><%= messageToRecipient %></span></td>
                            </tr>
                            <tr>
                                <td><%=
                                    i18n('deposit.bank.EUR.minimumAmount')
                                    %></td>
                                <td>100 Euro</td>
                            </tr>
                            <tr>
                                <td><%=
                                    i18n('deposit.bank.ourbank') %></td>
                                <td>Bank Pekao SA</td>
                            </tr>
                            <tr>
                                <td><%=
                                    i18n('deposit.bank.ourbankaddress')
                                    %></td>
                                <td>Oddzial w Warszawie III ul. T.
                                    Czackiego 21/23, 00-950 Warszawa,
                                    Poland</td>
                            </tr>
                            <tr>
                                <td><%=
                                    i18n('deposit.bank.EUR.fee') %></td>
                                <td>8 USD, converted on the spot by the bank in Euro</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
