.well
    border-radius 0px
    border: 0
    background-color: #fff
    box-shadow: none
    -webkit-box-shadow: none
    padding: 15px

input[type="text"], select
    border-radius 0

.old-browser
    color red
    position absolute
    background-color #eee
    z-index 100
    top 0%
    left 0%
    text-align center
    width 100%
