<div class="container">
    <div class="withdraw-nav"></div>
    <div class="col-lg-9">
        <h1 class="content-title"><%- i18n('withdraw.voucher.heading') %></h1>

        <div class="content-area">
            <p class="lead">
                <%- i18n('withdraw.voucher.intro') %>
            </p>

            <div class="create visible-creating">
                <form class="form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="amount-placeholder"></div>

                            <button type="submit" class="submit btn btn-primary btn-large">
                                <%- i18n('withdraw.voucher.submit') %>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="created visible-created">
                <div class="code"></div>
            </div>
        </div>
    </div>
</div>
