<div class="container">
    <div class="trade-nav"></div>

    <div class="col-lg-9">
        <h1 class="content-title"><%= i18n('orders.heading') %></h1>

        <div class="content-area">
            <table class="active-orders table table-striped">
                <thead>
                    <tr>
                        <th><%= i18n('orders.column headers.id') %></th>
                        <th><%= i18n('orders.column headers.market') %></th>
                        <th><%= i18n('orders.column headers.type') %></th>
                        <th><%= i18n('orders.column headers.price') %></th>
                        <th><%= i18n('orders.column headers.volume') %></th>
                        <th><%- i18n('trade.orders.header.matched') %></th>
                        <th><%- i18n('trade.orders.header.remaining') %></th>
                        <th><%- i18n('trade.orders.header.cancelled') %></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="items"></tbody>
            </table>
        </div>

        <h1 class="content-title"><%= i18n('orders.history heading') %></h1>

        <div class="content-area">
            <table class="order-history table table-striped">
                <thead>
                    <tr>
                        <th><%= i18n('orders.column headers.id') %></th>
                        <th><%= i18n('orders.column headers.market') %></th>
                        <th><%= i18n('orders.column headers.type') %></th>
                        <th><%= i18n('orders.column headers.requested price') %></th>
                        <th><%= i18n('orders.column headers.matched') %></th>
                        <th><%= i18n('orders.column headers.average price') %></th>
                    </tr>
                </thead>
                <tbody class="items"></tbody>
            </table>
        </div>
    </div>
</div>
