<div class="market container">
    <h3><%= id.substr(0, 3) + ' / ' + id.substr(3) %></h3>

    <div class="row">
        <form class="buy span5 well">
            <h4><%= i18n('market.buy.heading') %></h4>

            <div>
                <label for="amount"><%= i18n('amount') %></label>
                <input type="text" name="amount" />
            </div>

            <div>
                <label for="price"><%= i18n('price') %></label>
                <input type="text" name="price" />
            </div>

            <div class="summary">
            </div>

            <div>
                <input type="submit" class="btn btn-success btn-large" value="<%= i18n('market.buy.button') %>" />
            </div>
        </form>

        <form class="sell well span5 offset1">
            <h4><%= i18n('market.sell.heading') %></h4>

            <div>
                <label for="amount"><%= i18n('amount') %></label>
                <input type="text" name="amount" />
            </div>

            <div>
                <label for="price"><%= i18n('price') %></label>
                <input type="text" name="price" />
            </div>

            <div class="summary">
            </div>

            <div>
                <input type="submit" class="sell btn btn-primary btn-large" value="<%= i18n('market.sell.button') %>" />
            </div>
        </form>
    </div>

    <div class="row">
        <div class="span5">
            <h3><%= i18n('market.depth.heading') %></h3>

            <table class="depth table table-bordered table-striped table-compact">
                <thead>
                    <tr>
                        <th><%= i18n('market.depth.buy volume') %> (<%= id.substr(0, 3) %>)</th>
                        <th><%= i18n('price') %> (<%= id.substr(3) %>)</th>
                        <th><%= i18n('market.depth.sell volume') %> (<%= id.substr(0, 3) %>)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
