</div>

<div class="footer row">
  <div class="col-lg-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 footer-logo">
          <img src="/justcoin-footer.png" />
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4 links">
              <p><strong>Connect with us</strong></p>
              <ul class="list-group">
                <li><a href="https://www.facebook.com/jstcoin" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/jstcoin" target="_blank">Twitter</a></li>
                <li><a href="https://plus.google.com/u/0/115041546871708791828" target="_blank">Google+</a></li>
              </ul>
            </div>

            <div class="col-lg-4 links">
              <p><strong>Resources</strong></p>
              <ul class="list-group">
                <li><a href="https://www.youtube.com/watch?v=PrK-152xfy0" target="_blank">What is Bitcoin?</a></li>
                <li><a href="https://ripple.com/about-ripple/" target="_blank">What is Ripple?</a></li>
                <li><a href="http://reddit.com/r/bitcoin" target="_blank">Reddit Bitcoin</a></li>
              </ul>
            </div>

            <div class="col-lg-4 links">
              <p><strong>Company</strong></p>
              <ul class="list-group">
                <li><a href="faq">F.A.Q.</a></li>
                <li><a href="about">About</a></li>
                <li><a href="terms">Terms</a></li>
                <li><a href="privacy">Privacy Policy</a></li>
                <li><a href="contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
