

<footer id="footer">
    <ul class="footer-links">
        <li><a href="mailto:support@airbex.net" target="_blank">CONTACT US</a></li>
        <li>|</li>
        <li><a href="about">ABOUT</a></li>
        <li>|</li>
        <li><a href="terms">TERMS</a></li>
        <li>|</li>
        <li><a href="privacy">PRIVACY</a></li>
        <li>|</li>
        <li><a href="/apidoc/"> API</a></li>
    </ul>
</footer>
<script src="/main.js"></script>
</div>