<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <% if (typeof optimizely != 'undefined') { %>
    <script src="//cdn.optimizely.com/js/<%= optimizely %>.js"></script>
    <% } %>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="Buy, sell and trade Bitcoin with Airbex, bitcoin exchange with Proof of Reserve">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="google-site-verification" content="" />
    <link href="//fonts.googleapis.com/css?family=Montserrat:400normal;subset=all" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/app.css" rel="stylesheet">

    <link rel="apple-touch-icon" href="/airbex-square.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/airbex-square.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/airbex-square.png">
    <link rel="apple-touch-icon-precomposed" href="/touch-icon-iphone.png">
    <link rel="icon" href="/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="/favicon.png"><![endif]-->
    <meta name="msapplication-TileImage" content="/favicon.png">

    <script type="text/javascript">
        if ('-ms-user-select' in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
            document.getElementsByTagName('head')[0].appendChild(msViewportStyle);
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54161124-1', 'auto');
      ga('send', 'pageview');

</script>
<script type="text/javascript">
    var $zoho = $zoho || {
        livedesk : {
            values : {},
            ready : function() {
            }
        }
    };
    var d = document;
    s = d.createElement("script");
    s.type = "text/javascript";
    s.defer = true;
    s.src = "https://livedesk.zoho.com/airbex/float.ls?embedname=airbex";
    t = d.getElementsByTagName("script")[0];
    t.parentNode.insertBefore(s, t);
</script>
</head>
<body id="skrollr-body">
<script>window.environment = '<%= environment %>'</script>
<script src="/vendor.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/app.js"></script>


