	<div>
		<h1 class="content-title hidden-xs"><%-
			i18n('markets.market.heading', base, quote) %></h1>

		<div class="row">
			<div class="col-lg-6">

				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li class="active" id="trade-buy"><a 
						class="instant" href="#trade/<%= id %>/buy">BUY <%- base %> </a></li>
					<li id="trade-sell"><a  class="advanced"
						href="#trade/<%= id %>/sell">SELL <%- base %> </a></li>
				</ul>


				<div class="order-modes clearfix">
					<a id="trade-instant" class="instant"
						href="#trade/<%= id %>/instant"><%- i18n('trade.nav.instant')
						%>
						<div class="arrow"></div>
					</a> <a id="trade-advanced" class="advanced"
						href="#trade/<%= id %>/advanced"><%-
						i18n('trade.nav.advanced') %>
						<div class="arrow"></div>
					</a>
				</div>

				<div id="trade-form"></div>


			</div>
			<div class="col-lg-6">
				<div class="depth-container"></div>
			</div>

		</div>
		<div class="row">
			<div class="stats-container"></div>
		</div>
	</div>
