#area > .trade-market
    states order-mode-limit order-mode-market

    .amount
        states insufficient-funds precision-too-high too-small

    .market-order, .limit-order
        states order-type-bid order-type-ask

    .limit-order
        .price
            states precision-too-high

        .bid
            .total
                &.is-more-than-available
                    color red

        .ask
            .amount
                states insufficient-funds

    .market-order
        .bid
            .amount
                states insufficient-funds precision-too-high too-deep too-small

        .ask
            .amount
                states too-deep insufficient-funds precision-too-high too-small

    .market-order, .limit-order
        .bid, .ask
            .order-summary
                td
                    text-align right

    .order-modes
        padding-bottom: 20px
        background-color: #fff

        a
            display: block
            width: 50%
            float: left
            text-align: center
            color: #fff
            text-decoration: none
            background-color: #aaaaaa
            padding: 10px 0
            position: relative

            .arrow
                display: none;
                background-image: url(img/nav-active.png)
                background-position: center bottom
                background-repeat: no-repeat;
                height: 10px
                position: absolute
                left: 0
                right: 0
                bottom: -10px

            &:hover
                background-color: #888


            &.active
                background-color: #07415b

                .arrow
                    display: block;

#area > .trade-orders
    .active-orders, .order-history
        td.number
            text-align right

.trade-nav
    .order-modes
        @media (min-width: 768px)
            margin-top 33px

        font-size 1.5em

        .active
            font-weight bold
            pointer-events none
            color #333
