.cover {
	background: url(img/background.jpg) repeat center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height:430px;
text-align:center;
margin-bottom:20px;
margin-top:-10px;
}
 
.cover-content {
  width:400px; 
  border:1px solid #fff;
  vertical-align:middle;
  display:inline-block;
  line-height:1.2;
  text-align:center;
  margin-top:90px;
  padding:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.97;
  

  filter:alpha(opacity=90); /* For IE8 and earlier */
}

.fa {

    margin-right:8px;
}
[class^="fa-"] {

    margin-right:8px;
}

.success {
  color: green;
}

.error {
  color: red;
}