

.wallet .nav
{
	margin-bottom:12px;
}

.fa {

    margin-right:8px;
}
[class^="fa-"] {

    margin-right:8px;
}

.success {
  color: green;
}

.error {
  color: red;
}

table td {
	margin:6px;
}

#main {
	min-height:550px;
}