#area > .withdraw-bitcoin
    states entry review summary

    .summary
        .status
            states requested processing completed cancelled updating

#area > .withdraw-email
    .send-form, .send-confirmed
        display none

#area > .withdraw-litecoin
    states entry review summary

    .summary
        .status
            states requested processing completed cancelled updating

#area > .withdraw-ripple
    states entering reviewing sending

    .entry
        .address
            states unfunded too-low-trust

    .summary
        .status
            states requested processing completed cancelled updating

#area > .withdraw-voucher
    states created creating

    .form
        max-width 28em

        .control-label
            width 5em

        .controls
            margin-left 6.5em

            select, input, button
                width 100%
                max-width 10em

            input
                max-width 9em

#area > .withdraw-bank
    states empty allowed

#area > .withdraw-withdraws
    states empty loading loaded

.withdraw-nav
    .nav li i
        display inline-block
        width 1.1em
