<div class="container">
    <div class="deposit-nav"></div>

    <div class="col-lg-9">
        <h1 class="content-title"><%- i18n('deposit.ripple.heading') %></h1>

        <div class="content-area">
            <p class="lead">
                <%= i18n('deposit.ripple.lead') %>
            </p>

            <div class="row">
                <div class="col-lg-7">
                    <form>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="amount-placeholder"></div>
                            </div>
                        </div>

                        <div class="form-group address">
                            <label for="address" class="control-label">
                                <%- i18n('deposit.ripple.address.label') %>
                            </label>

                            <input class="field form-control" type="text" name="address" disabled="disabled" />
                        </div>

                        <div class="form-group tag">
                            <label for="tag" class="control-label">
                                <abbr title="<%= i18n('deposit.ripple.tag.title') %>">
                                    <%- i18n('deposit.ripple.tag.label') %>
                                </abbr>
                            </label>

                            <input class="field form-control" value="<%= api.user.tag %>" type="text" name="tag" disabled="disabled" />
                        </div>

                        <div class="form-group">
                            <a class="btn btn-success btn-lg submit" target="_blank">
                                <%- i18n('deposit.ripple.submit') %>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
