<div class="container withdraw-btc">
    <h3><%= i18n('withdrawbtc.heading') %></h3>

    <p><%= i18n('withdrawbtc.intro') %></p>

    <form class="form-horizontal well span6">
        <div class="control-group">
            <label class="control-label" for="amount"><%= i18n('amount') %></label>
            <div class="controls">
                <input class="amount" type="text" id="amount" placeholder="0.0" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="address"><%= i18n('withdrawbtc.address.label') %></label>
            <div class="controls">
                <input class="address" id="address" type="text" placeholder="<%= i18n('withdrawbtc.address.placeholder') %>" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" type="submit" value="<%= i18n('withdrawbtc.submit') %>" />
            </div>
        </div>
    </form>
</div>
