<div class="well">
    <p class="available-container">
        <%- i18n('markets.market.limitorder.bid.available.you have') %>
        <span class="available">...</span>
    </p>

    <form>
        <div class="form-group amount">
            <label class="control-label">
                <%- i18n('markets.market.limitorder.bid.amount.label') %>
            </label>

            <div class="input-group">
                <input type="text" name="amount" class="form-control" />
                <span class="input-group-addon"><%= base %></span>
            </div>

            <span class="help-block">
                <span class="visible-precision-too-high">
                    <%- i18n('markets.market.limitorder.bid.amount.too many decimals') %>
                </span>
                <span class="visible-too-small  hidden-too-many-decimals hidden-precision-too-high">
                    <%- i18n('markets.market.marketorder.bid.spend.too small') %>
                </span>
            </span>
        </div>

        <div class="form-group price">
            <label class="control-label">
                <%- i18n('markets.market.limitorder.bid.price.label') %>
                <%= base %>
            </label>

            <div class="input-group">
                <input type="text" name="price" class="form-control" />
                <span class="input-group-addon"><%= quote %></span>
            </div>

            <span class="help-block">
                <span class="visible-precision-too-high">
                    <%- i18n('markets.market.limitorder.bid.price.too many decimals') %>
                </span>
                <span class="visible-too-small">
                    <%- i18n('markets.market.marketorder.bid.spend.too small') %>
                </span>  
            </span>
        </div>

        <table class="order-summary table">
            <tr>
                <th>
                    <%- i18n('subtotal') %>
                </th>
                <td class="subtotal">
                </td>
            </tr>
            <tr>
                <th>
                    Maker Fee <span class="fee-ratio-maker"><%- fee_bid_maker * 100 %>%</span>
                </th>
                <td class="fee-maker">
                </td>
            </tr>
            <tr>
                <th>
                    Taker Fee <span class="fee-ratio-taker"><%- fee_bid_taker * 100 %>%</span>
                </th>
                <td class="fee-taker">
                </td>
            </tr>
            <tr>
                <th>
                    <%- i18n('totalToSpend') %>
                </th>
                <td class="total">
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td>
                <span id="total-too-small" class="hide">
                    <%- i18n('totaltoosmall') %>
                </span>
                <span id="total-too-high" class="hide">
                    <%- i18n('totaltoohigh') %>
                </span>
                </td>
            </tr>
        </table>

                
        <button type="submit" class="btn btn-success btn-block">
            <%- i18n('markets.market.limitorder.bid.submit') %>
        </button>
    </form>
</div>
