<div class="container">
    <div class="deposit-nav"></div>

    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="content-title"><%- i18n('deposit.bank.heading') %></h1>

                <div class="content-area">
                    <p class="lead">
                        <%- i18n('deposit.bank.lead') %>
                    </p>

                    <div class="row">
                        <div class="col-lg-2 chf">
                            <a href="#deposit/bank/CHF" class="btn btn-success btn-xl">
                                CHF
                            </a>
                        </div>

                        <div class="col-lg-2 eur">
                            <a href="#deposit/bank/EUR" class="btn btn-success btn-xl">
                                EUR
                            </a>
                        </div>

                        <div class="col-lg-2 usd">
                            <a href="#deposit/bank/USD" class="btn btn-success btn-xl">
                                USD
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
