<div class="withdraw-nav area-nav col-lg-3">
    <div class="jc-sidebar">
        <ul class="nav jc-sidenav">
            <li class="bitcoin">
                <a href="#withdraw/bitcoin">
                    <i class="fa fa-bitcoin"></i>
                    Bitcoin
                </a>
            </li>
            <li class="litecoin">
                <a href="#withdraw/litecoin">
                    <i class="fa fa-ltc"><img src="img/Litecoin.png" height="18" width="18"/> </i>
                    Litecoin
                </a>
            </li>
            <li class="bank">
                <a href="#withdraw/bank">
                    <i class="fa fa-money"></i>
                    <%- i18n('withdraw.nav.bank') %>
                </a>
            </li>
           
            <li class="withdraws">
                <a href="#withdraw/withdraws">
                    <i class="icon-list"></i>
                    <%- i18n('withdraw.nav.withdraws') %>
                </a>
            </li>
        </ul>
    </div>
</div>
