<!DOCTYPE html>
<html>
    <head>
        <title>Snowcoin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <% if (minify) { %>
          <link href="styles.min.css" rel="stylesheet">
        <% } else { %>
          <link href="styles.css" rel="stylesheet">
        <% } %>

        <% if (minify) { %>
          <script src="head.min.js"></script>
        <% } else { %>
          <script src="head.js"></script>
        <% } %>

        <% if (typeof raven !== 'undefined') { %>
          <script>
            Raven.config('<%= raven %>').install();
          </script>
        <% } %>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
<div class="navbar navbar-fixed-top" id="top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">snowcoin</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                  <li class="active books"><a href="#books">Books</a></li>
                  <li class="accounts"><a href="#my/accounts">Accounts</a></li>
                  <li class="transactions"><a href="#my/transactions">Transactions</a></li>
                  <li class="orders"><a href="#my/orders">Orders</a></li>
            </ul>
            <div class="pull-right account-summary">
                <div class="logged-in">
                  Logged in as <span class="email"></span>. <a href="/">Sign out</a>
                </div>
                <div class="not-logged-in">
                  <a href="#login">Existing user</a> | <a href="#register">New user</a>
                </div>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

        <div id="section"></section>

        <% if (minify) { %>
          <script src="scripts.min.js"></script>
        <% } else { %>
          <script src="scripts.js"></script>
        <% } %>
    </body>
</html>
