<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <title>Justcoin</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="en" />

    <!--[if lte IE 8]>
        <h4 color="red">Your browser is too old</h4><p><a href="http://browsehappy.com">Upgrade now</a></p>
    <![endif]-->

    <% if (minifyCss) { %>
        <link href="styles.min.css" rel="stylesheet">
    <% } else { %>
        <link href="styles.css" rel="stylesheet">
    <% } %>

    <% if (minifyHead) { %>
        <script src="head.min.js"></script>
    <% } else { %>
        <script src="head.js"></script>
    <% } %>

    <% if (typeof segment !== 'undefined' && segment) { %>
        <script type="text/javascript">
          var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready","group"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
          analytics.load("<%= segment %>");
        </script>
    <% } %>
</head>

<body>
    <div style="width:100%;height:100%;position:absolute;top:0px;left:0px;background-color:#fff;text-align:center;text-transform:uppercase;z-index:10000;font-size:30px;padding-top:200px;display:none;">
        The website is down for maintenance
    </div>

    <div class="header"></div>

    <div id="section"></div>

    <hr>

    <footer>
        <div class="container">
            <div>
                <span class="support">
                    <a href="mailto:support@justcoin.com" target="_blank">Support</a> |
                </span>
                <a href="https://github.com/justcoin">Github</a> |
                <a href="http://docs.snow.apiary.io/">API</a>
            </div>
            <div>
                <a href="#set-language" data-language="nb-NO"><img src="img/flags/NO.png" alt="Norsk" /></a>
                <a href="#set-language" data-language="en-US"><img src="img/flags/US.png" alt="English" /></a>
            </div>
            </div>
        </div>
    </footer>

    <% if (minifyScripts) { %>
        <script src="scripts.min.js"></script>
    <% } else { %>
        <script src="scripts.js"></script>
    <% } %>
</body>
</html>
