<!DOCTYPE html>
<html>
<head>
    <title>Justcoin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lte IE 8]>
        <h4 color="red">Your browser is too old</h4><p><a href="http://browsehappy.com">Upgrade now</a></p>
    <![endif]-->

    <% if (minify) { %>
        <link href="styles.min.css" rel="stylesheet">
    <% } else { %>
        <link href="styles.css" rel="stylesheet">
    <% } %>

    <% if (minify) { %>
        <script src="head.min.js"></script>
    <% } else { %>
        <script src="head.js"></script>
    <% } %>

    <% if (typeof segment !== 'undefined' && segment) { %>
        <script type="text/javascript">
          var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready","group"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
          analytics.load("<%= segment %>");
        </script>
    <% } %>
</head>

<body>
    <div class="header"></div>

    <div id="section"></div>

    <div id="IntercomDefaultWidget"></div>

    <hr>

    <footer>
        <div class="container">
        </div>
    </footer>

    <% if (minify) { %>
        <script src="scripts.min.js"></script>
    <% } else { %>
        <script src="scripts.js"></script>
    <% } %>
</body>
</html>
