<!DOCTYPE html>
<html>
<head>
    <title>Snowcoin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lte IE 8]>
    <h4 color="red">Your browser is too old</h4><p><a href="http://browsehappy.com">Upgrade now</a></p>
    <![endif]-->

    <% if (minify) { %>
        <link href="styles.min.css" rel="stylesheet">
    <% } else { %>
        <link href="styles.css" rel="stylesheet">
    <% } %>

    <% if (minify) { %>
        <script src="head.min.js"></script>
    <% } else { %>
        <script src="head.js"></script>
    <% } %>

    <% if (typeof raven !== 'undefined') { %>
        <script>Raven.config('<%= raven %>').install();</script>
    <% } %>

    <% if (typeof segment !== 'undefined' && segment) { %>
        <script type="text/javascript">
          var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
          analytics.load("<%= segment %>");
        </script>
    <% } %>
</head>

<body>
    <div class="navbar navbar-fixed-top" id="top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">snowcoin</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active markets"><a href="#markets">Markets</a></li>
                        <li class="accounts"><a href="#my/accounts">Accounts</a></li>
                        <li class="transactions"><a href="#my/transactions">Transactions</a></li>
                        <li class="orders"><a href="#my/orders">Orders</a></li>
                    </ul>
                    <div class="pull-right account-summary">
                        <div class="logged-in">
                            Logged in as <span class="email"></span>. <a href="/">Sign out</a>
                        </div>
                        <div class="not-logged-in">
                            <a href="#login">Existing user</a> | <a href="#register">New user</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section"></div>

    <hr>

    <footer>
        <a href="http://snowcoin.freshdesk.com/" target="_blank">Support</a> |
        <a href="http://snowcoin.freshdesk.com/support/solutions/folders/133420" target="_blank">FAQ</a> |
        <a href="http://snowcoin.freshdesk.com/support/discussions" target="_blank">Forum</a> |
        <a href="mailto:help@snowco.in" target="_blank">help@snowco.in</a> |
        <a href="https://twitter.com/snow_coin" target="_blank">Twitter</a>
    </footer>

    <script>
        snow = {
        }
    </script>

    <% if (minify) { %>
        <script src="scripts.min.js"></script>
    <% } else { %>
        <script src="scripts.js"></script>
    <% } %>
</body>
</html>
