body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.create-order {
    @labelWidth: 80px;

    .control-group {
        .control-label {
            width: @labelWidth;
            text-align: left;
        }

        .controls {
            margin-left: @labelWidth + 30;
        }
    }
}

body:not(.is-logged-in) #top {
    .accounts, .orders, .transactions { display: none }
    .account-summary .logged-in { display: none; }
}

body.is-logged-in #top {
    .account-summary .not-logged-in { display: none; }
}

#accounts a[href="#my/withdraw/XRP"] { display: none; }
#accounts a[href="#my/deposit/XRP"] { display: none; }
#accounts a[href^="#my/send"] { display: none; }

/* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }