<div class="about-nav area-nav col-lg-3">
	<div class="jc-sidebar">
		<ul class="nav jc-sidenav">
			<li class="company"><a href="#about/company"> <i
					class="icon-building"></i> <%= i18n('about.nav.about Logosxchange') %>
			</a></li>
			<li class="terms"><a href="#about/terms"> <i
					class="icon-legal"></i> <%= i18n('about.nav.terms') %>
			</a></li>
			<li class="privacy"><a href="#about/privacy"> <i
					class="icon-thumbs-up-alt"></i> <%= i18n('about.nav.privacy') %>
			</a></li>
			<li class="audit"><a href="#about/audit"> <i
					class="icon-building"></i> <%= i18n('about.nav.audit') %>
			</a></li>
		</ul>
	</div>
</div>