<div class="section container">
<div class="jumbotron">
        <h1><%= i18n('home.heading') %></h1>
        <p class="lead"><%= i18n('home.sub-heading') %></p>
        <a class="btn btn-large btn-success" href="#register"><%= i18n('home.call to action') %></a>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="span4">
          <h2><%= i18n('home.bitcoin.heading') %></h2>
          <p><%= i18n('home.bitcoin.body') %></p>
          <p><a class="btn" href="https://www.weusecoins.com/en" target="_blank"><%= i18n('home.bitcoin.what is button') %></a></p>
        </div>
        <div class="span4">
          <h2><%= i18n('home.ripple.heading') %></h2>
          <p>J<%= i18n('home.ripple.body') %></p>
          <p><a class="btn" href="https://ripple.com" target="_blank"><%= i18n('home.ripple.what is button') %> &raquo;</a></p>
       </div>
        <div class="span4">
          <h2><%= i18n('home.exchange.heading') %></h2>
          <p><%= i18n('home.exchange.body') %></p>
        </div>
      </div>
</div>
