<div class="account-nav area-nav col-lg-3">
	<div class="jc-sidebar">
		<ul class="nav jc-sidenav">
			<li class="funds"><a href="#account/funds"> <i
					class="fa fa-dashboard"></i><%= i18n('account.nav.funds') %>
			</a></li>
			<li class="activity"><a href="#account/activity"> <i
					class="fa fa-list"></i><%= i18n('account.nav.activity') %>
			</a></li>
			<li class="transactions"><a href="#account/transactions"> <i
					class="fa fa-exchange"></i><%= i18n('account.nav.transactions')%>
			</a></li>
			<li class="bankaccounts"><a href="#account/bankaccounts"> <i
					class="fa fa-money"></i><%= i18n('account.nav.bankaccounts')%>
			</a></li>
		</ul>
	</div>
</div>