<h3><%= i18n('dashboard.heading') %></h3>

<div class="row">
    <table class="balances table table-bordered span6">
        <tr class="balance btc">
            <td class="name">Bitcoin</td>
            <td class="available">
            </td>
            <td class="actions">
                <a class="deposit-btc btn" href="#depositbtc"><%= i18n('deposit') %></a>
                <a class="withdraw-btc btn" href="#withdrawbtc"><%= i18n('withdraw') %></a>
            </td>
        </tr>
        <tr class="balance ltc">
            <td class="name">Litecoin</td>
            <td class="available">
            </td>
            <td class="actions">
                <a class="deposit-ltc btn" href="#depositltc"><%= i18n('deposit') %></a>
                <a class="withdraw-ltc btn" href="#withdrawltc"><%= i18n('withdraw') %></a>
            </td>
        </tr>
        <tr class="balance xrp">
            <td class="name">Ripple</td>
            <td class="available">
            </td>
            <td class="actions">
                <a class="deposit-xrp btn" target="_blank"><%= i18n('deposit') %></a>
                <a class="withdraw-xrp btn" href="#withdrawripple"><%= i18n('withdraw') %></a>
            </td>
        </tr>
    </table>
</div>

<div class="activities"></div>

<div class="withdraws row"></div>
