<% include partials/header-en.ejs %>
<div class="container text-center">
    <div class="row text-center">
        <h1>WHAT IS AIRBEX</h1>
    </div>
    <div class="row text-center">
        <p>Airbex is a cryptocurrency exchange where people can buy
            and sell Bitcoin, Litecoin, Dogecoin with US Dollar and Euro.
        <p>
        <p>Airbex implements the Proof of Reserves (PoR) for all
            supported cryptocurrencies, PoR is a way to prove by math
            that we have more funds in our wallets than what we own to
            users.</p>
        <p>Our mission to provide a solvent, secure and reliable
            cryptocurrency exchange.</p>
        <p>
    </div>
    <div class="row">
        <h1>WHO'S BEHIND AIRBEX</h1>
    </div>
    <div class="row">
        <div>
            <div class="center-block">
                <p>
                    <strong>Frederic Heem</strong>
                </p>
                <p>Founder & CTO</p>
                <p><a href="mailto:frederic@airbex.net"><i class="fa fa-envelope-o"></i></a>
<!--                 | <a href="https://www.linkedin.com/in/fredericheem"><i class="fa fa-linkedin"></i></a></p> -->
            </div>
        </div>
    </div>

</div>
<% include partials/footer-en.ejs %>
