<% include partials/header-no.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Om Justcoin</h1>
      </div>
    </div>
    <div class="row">
      <div class=col-md-6>
      <p class="lead">Justcoin er en handelsplass for digital valuta, etablert i 2013 med hovedkontor i Oslo. Justcoin er kun et bindeledd mellom kjøper og selger og opererer dermed ikke selv som kjøper eller selger av digital valuta. </p>

      <p>Justcoin eies av Andreas Brekken og Klaus Bugge Lund. Andreas har ansvaret for selve utviklingen av tjenestene til Justcoin. Andreas har vært interessert i og handlet med digitale valutaer i flere år, han har opparbeidet seg en solid kompetanse på området. Andreas er 29 år og er en svært erfaren programmerer med en bachelorgrad i informatikk fra UIO. Klaus er daglig leder samt styreleder og har ansvaret for administrering og daglig drift av Justcoin. Klaus er 27 år og utdannet Siviløkonom ved Handelshøyskolen BI med major i finans. </p>
      <p>Justcoin AS<br>
      Org.nr: 911942976<br>
      hello@justcoin.com</p>

        <p>Se <a href="contact">kontakt oss</a> om du ønsker å kontakte Justcoin.</p>
      </div>
      <div class="col-md-4 well">
        <h3>Fakta</h3>
        <table>
          <tr>
            <th>Stiftet</th>
            <td>7. mai, 2013</td>
          </tr>
          <tr>
            <th>Ansatte</th>
            <td>2 full-tid</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% include partials/footer-no.ejs %>
