<% include partials/header-en.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About Justcoin</h1>
      </div>
    </div>
    <div class="row">
      <div class=col-md-6>
        <p class="lead">
        Justcoin is a digital currency exchange, founded in 2013 with its office in Oslo, Norway. Justcoin is solely an intermediary and does not buy or sell currency.
        </p>

        <p>
          Justcoin is founded by Andreas Brekken and Klaus Bugge Lund. Klaus is CEO and responsible for administration, daily settlement and non-technical support. Klaus is 27 years old and holds a Master's degree in finance from the Norwegian Business School. Andreas is CTO/lead developer of Justcoin and creator of the open source project Snow, which Justcoin is based on. Andreas has graduated from the University of Oslo with a bachelor degree in computer science. Andreas is a highly experienced programmer.
        </p>

        <p>See the <a href="contact">contact page</a> if you wish to contact Justcoin.</p>
      </div>
      <div class="col-md-4 well">
        <h3>Facts</h3>
        <table>
          <tr>
            <th>Founded</th>
            <td>May 7th, 2013</td>
          </tr>
          <tr>
            <th>Employees</th>
            <td>2 full-time</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% include partials/footer-en.ejs %>
