<% include partials/header-en.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contacting Justcoin</h1>

      <h3>Customer support</h3>

      <p>
        <a href="mailto:support@justcoin.com">support@justcoin.com</a>
      </p>

      <h3>Press</h3>

      <p>
        <a href="mailto:klaus@justcoin.com">klaus@justcoin.com</a>
      </p>

      <h3>Business inquiries</h3>

      <p>
        <a href="mailto:hello@justcoin.com">hello@justcoin.com</a>
      </p>

      <h3>Security Emergency Contact</h3>

      <p>
        <a href="mailto:security@justcoin.com">security@justcoin.com</a>
      </p>
    </div>
  </div>
</div>

<% include partials/footer-en.ejs %>
