<% include partials/header-no.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Kontakt Justcoin</h1>

      <h3>Support</h3>

      <p>
        <a href="mailto:support@justcoin.com">support@justcoin.com</a>
      </p>

      <h3>Presse</h3>

      <p>
        <a href="mailto:klaus@justcoin.com">klaus@justcoin.com</a>
      </p>

      <h3>Forretningsspørsmål</h3>

      <p>
        <a href="mailto:hello@justcoin.com">hello@justcoin.com</a>
      </p>

      <h3>Nødkontakt Sikkerhet</h3>

      <p>
        <a href="mailto:security@justcoin.com">security@justcoin.com</a>
      </p>
    </div>
  </div>
</div>

<% include partials/footer-no.ejs %>
