<% include partials/header-en.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contacting AIRBEX</h1>

      <h3>Customer support</h3>

      <p>
        <a href="mailto:support@airbex.net">support@airbex.com</a>
      </p>

      <h3>Press</h3>

      <p>
        <a href="mailto:info@airbex.net">info@airbex.com</a>
      </p>

      <h3>Security Emergency Contact</h3>

      <p>
        <a href="mailto:security@airbex.net">security@airbex.net</a>
      </p>
    </div>
  </div>
</div>

<% include partials/footer-en.ejs %>
