<% include partials/header-no.ejs %>
  <div class="container faq">
    <div class="row">
      <div class="col-md-12">

      <!-- NORSK -->

      <h1 id="vanlige-sp-rsm-l">Vanlige spørsmål</h1>
      <h2 id="generelt">Generelt</h2>
      <h3 id="hva-er-justcoin">Hva er Justcoin?</h3>
      <p>Justcoin er Norges eneste markedsplass for Bitcoin. På Justcoin kan folk fra hele verden kjøpe og selge bitcoins til hverandre.</p>
      <h3 id="hva-er-bitcoin">Hva er Bitcoin?</h3>
      <p>Bitcoin er en digital valuta og et betalingssystem opprettet i 2009. Bitcoin gjør det mulig å sende betalinger raskt og billig via et desentralisert nettverk på internett.</p>
      <h3 id="selger-justcoin-bitcoins">Selger Justcoin bitcoins?</h3>
      <p>Nei. Justcoin er kun en markedsplass hvor brukere trygt og effektivt kan kjøpe og selge bitcoins med hverandre. Du vil alltid kjøpe av en annen bruker som selger.</p>
      <h3 id="hvordan-fungerer-justcoin">Hvordan fungerer Justcoin?</h3>
      <p>Brukere gjør innskudd av norske kroner på den ene siden og bitcoins på den andre. Deretter kan brukerne bruke Justcoin til å bytte seg imellom.</p>
      <h3 id="hvorfor-er-prisene-p-justcoin-annerledes-non-p-andre-markedsplasser-for-bitcoin">Hvorfor er prisene på Justcoin annerledes enn på andre markedsplasser for Bitcoin?</h3>
      <p>Prisene er til enhver tid hva andre brukere setter dem til å være. Justcoin har ingenting med prissetting å gjøre. Prisnivået kan for eksempel være forskjellig fra andre markedsplasser hvis det er overvekt av kjøpere som presser prisen opp, eller midlertidig lav likviditet i markedet.</p>
      <h3 id="hvor-mye-koster-det-bruke-justcoin">Hvor mye koster det å bruke Justcoin?</h3>
      <p>Justcoin opererer med en flat handelsavgift på 0,5% med mindre andre tidsbegrensede tilbud er aktive.</p>
      <h3 id="er-justcoin-trygt">Er Justcoin trygt?</h3>
      <p>Ja. Vår høyeste prioritet er til alle tider sikkerhet. Mesteparten av bitcoins på Justcoin er sikret og lagret i krypterte "wallets" i bankbokser. Brukere er anbefalt å holde passord privat og benytte seg av Fysisk autentisering (2FA/OTP) for deres egen kontos sikkerhet.</p>
      <h2 id="handel">Handel</h2>
      <h3 id="hvor-lang-tid-tar-et-innskud">Hvor lang tid tar et innskud?</h3>
      <p>Et innskudd tar normalt opp til 2 virkedager fra det er registrert til du blir kreditert på Justcoin. Alle innskudd blir kreditert når vi mottar dem, uten forsinkelser. Du vil motta en mail når kontoen er kreditert. Denne prosessen vil ikke gå raskere ved å kontakte support.</p>
      <h3 id="hvor-lang-tid-tar-et-uttak">Hvor lang tid tar et uttak?</h3>
      <p>Uttak registrert før 10:00 norsk tid blir registrert samme dag. Overføring tar normalt 1 dag fra de er registrert.</p>
      <h3 id="hvordan-handler-man">Hvordan handler man?</h3>
      <p>Når kontoen din er kreditert kan du bruke Ekspress eller Avansert ordremodus for å handle.</p>
      <h3 id="hvordan-fungerer-ekspress-ordre">Hvordan fungerer ekspress-ordre?</h3>
      <p>Med ordremodus Ekspress kan du umiddelbart plassere en ordre som matcher de beste tilgjengelige prisene i markedet. Hvis det er lav likviditet i markedet kan prisene bli ugunstige, derfor anbefaler vi avansert ordremodus for høyere volum.</p>
      <h3 id="hvordan-fungerer-avansert-ordremodus-limit-ordre">Hvordan fungerer avansert ordremodus? (limit ordre)?</h3>
      <p>Hvis man legger inn en avansert ordre bestemmer man selv prisen man ønsker å kjøpe eller selge for. Ordren vil da legges til i ordreboken til den er matchet.</p>
      <h3 id="hvordan-kansellerer-man-no-ufylt-aktiv-ordre">Hvordan kansellerer man en ufylt/aktiv ordre?</h3>
      <p>Avanserte ordre som ikke er matchet kan kanselleres ved å velge "Handle", så "Ordre" på venstre side. Handelsavgift blir ikke tatt på ordre som ikke er matchet.</p>
      <h3 id="hva-er-ordrebok">Hva er ordrebok?</h3>
      <p>Ordreboken er vist til høyre for handelsskjemaet. Ordreboken inneholder alle aktive ordre med enhetspriser og størrelser, disse ordrene er tilgjengelig for handel.</p>
      <h2 id="annet">Annet</h2>
      <h3 id="hvordan-kj-per-jeg-litecoin">Hvordan kjøper jeg Litecoin?</h3>
      <p>LTC kan bli kjøpt via vårt BTC/LTC-marked. Dette betyr at du kan kun kjøpe LTC med BTC. Hvis du har NOK og ønsker å kjøpe LTC må du først kjøpe BTC.</p>
      <h3 id="hvordan-kj-per-jeg-ripples">Hvordan kjøper jeg ripples?</h3>
      <p>XRP kan bli kjøpt via vårt BTC/XRP-marked. Dette betyr at du kan kun kjøpe XRP med BTC. Hvis du har NOK og ønsker å kjøpe XRP må du først kjøpe BTC.</p>
      <h3 id="kan-jeg-ta-ut-nok-til-ripple">Kan jeg ta ut NOK til Ripple?</h3>
      <p>Nei. Vi støtter foreløpig ikke uttak av tradisjonelle valutaer til Ripple.</p>
      <h3 id="hva-menes-med-6-bekreftelser">Hva menes med 6 bekreftelser?</h3>
      <p>6 bekreftelser gjelder kun ved innskudd av Bitcoin eller Litecoin. Din overføring av Bitcoin eller Litecoin trenger å bli bekreftet 6 ganger på blockchainen for å bli kreditert til din konto på Justcoin. 6 bekreftelser tar som regel under én time.</p>
      <h3 id="jeg-har-problemer-med-motta-sms-for-verifisering">Jeg har problemer med å motta sms for verifisering?</h3>
      <p>Telefonnummeret ditt kan bare bli godkjent via kode med SMS. Hvis det ikke fungerer ved første forsøk anbefaler vi deg å gi det et nytt forsøk hvor du er helt sikker på at du har god dekning og at nummeret er skrevet inn riktig, uten mellomrom eller tegn. Hvis du blir bedt om å prøve igjen senere er du midlertidig låst ute for å forhindre misbruk av tjenesten, du vil få muligheten til å prøve igjen innen et døgn.</p>
      <h3 id="hvordan-nodrer-jeg-e-postadressen-min">Hvordan endrer jeg e-postadressen min?</h3>
      <p>Det er foreløpig ikke mulig å endre e-postadressen sin.</p>
      <h3 id="kan-jeg-bruke-paypal-eller-kortbetaling">Kan jeg bruke PayPal eller kortbetaling?</h3>
      <p>Nei. Vi godtar ikke andre betalingsmidler enn bankoverføring.</p>
      <h3 id="hva-er-fysisk-autentisering-nogangspassord">Hva er fysisk autentisering/engangspassord?</h3>
      <p>Fysisk autentisering er en valgfri men meget nyttig måte å øke sikkerheten på kontoen sin betraktelig. Vi anbefaler å bruke Google Authenticator appen.</p>
      <h3 id="jeg-f-r-feil-engangskoder-fra-google-authenticator">Jeg får <em>feil</em> engangskoder fra Google Authenticator?</h3>
      <p>Kodene blir produsert basert på tidspunkt, og vil derfor være feil hvis klokken på mobilen din går feil. Sett mobilen til 'Auto-adjust date and time'.</p>
      <h3 id="jeg-slettet-google-authenticator-hvordan-skrur-jeg-av-fysisk-autentisering">Jeg slettet Google Authenticator. Hvordan skrur jeg av fysisk autentisering?</h3>
      <p>Du kan bruke "Glemt passord"-funksjonen til å resette passordet ditt. Da vil også fysisk autentisering bli skrudd av. Du må ha mobil og e-post tilgjengelig.</p>
      <h3 id="jeg-blir-logget-ut-av-justcoin-etter-kort-tid-kan-jeg-endre-dette">Jeg blir logget ut av Justcoin etter kort tid. Kan jeg endre dette?</h3>
      <p>Hvis du skrur på fysisk autentisering vil du ikke bli logget ut før etter 60 minutter.</p>
      <h2 id="support_1">Support</h2>
      <p>Hvis du har lest nøye gjennom "Vanlige spørsmål" vår uten å finne svar på det du lurer på kan du ta kontakt med oss via spørsmålstegnet nede i høyre hjørne. Vi prøver å svare på alle spørsmål innen 24 timer men vennligst merk at det kan ta lenger tid i perioder med høy aktivitet.</p>

      </div>
    </div>
  </div>
<% include partials/footer-no.ejs %>
