<% include partials/header-en.ejs %>
  <div class="container faq">
    <div class="row">
      <div class="col-md-12">
        <h1 id="frequently-asked-questions">Frequently Asked Questions</h1>
        <h2 id="general">General</h2>
        <h3 id="what-is-justcoin">What is Justcoin?</h3>
        <p>Justcoin is a Norwegian Bitcoin marketplace. It allows people globally to safely buy and sell bitcoins.</p>
        <h3 id="what-is-bitcoin">What is Bitcoin?</h3>
        <p>Bitcoin is a digital currency and a payment system created in 2009. Bitcoin enables fast payments at very low cost. Many predict Bitcoin to be the new generation of money.</p>
        <h3 id="does-justcoin-sell-bitcoin">Does Justcoin sell Bitcoin?</h3>
        <p>No. Justcoin is solely a safe environment for you to buy or sell bitcoins from or to other users. You are always buying bitcoins from another user who is selling them.</p>
        <h3 id="how-does-it-work">How does it work?</h3>
        <p>Users deposit cash on one side and bitcoin on the other side. Then users are able to exchange their cash for bitcoins or vice versa.</p>
        <h3 id="why-are-prices-on-justcoin-different-than-on-other-exchanges">Why are prices on Justcoin different than on other exchanges?</h3>
        <p>The prices will at any time be what other users are willing to sell their BTC/XRP/LTC for. Prices are always up to date and reflect the current available prices. Justcoin is simply providing a marketplace and are not involved in price setting. Note that by selecting 'Advanced' trading mode you are able to specify prices on your orders.</p>
        <h3 id="how-much-does-it-cost">How much does it cost?</h3>
        <p>A flat trading fee of 0,5% is applied to matched orders, unless there is active promotions. It is currently 0% trading fee for the BTC/EUR and BTC/USD markets through 2013.</p>
        <h3 id="is-justcoin-secure">Is Justcoin secure?</h3>
        <p>Yes. Our main priority at all times is security. Most bitcoins are stored in encrypted offline wallets in bank vaults. Users are advised to keep their passwords private and to have Two-factor authentication (2FA/OTP) enabled for their own account's safety.</p>
        <h2 id="trading">Trading</h2>
        <h3 id="how-long-does-depopsits-take">How long does depopsits take?</h3>
        <p>A SEPA or international bank transfer usually takes 2-4 business days to reach our account. Transfers made in receiving account's currency are usually faster. All deposits are processed and credited upon receiving, without delay. You are notified by e-mail when account is credited. Contacting us does not speed up this process.</p>
        <h3 id="how-long-does-withdrawals-take">How long does withdrawals take?</h3>
        <p>Withdrawals registered before 09:00 GMT (London time) are processed the same day. SEPA transfers usually take 2-3 business days. For non-SEPA accounts it may take up to 5 business days.</p>
        <h3 id="how-to-trade">How to trade?</h3>
        <p>When your account is funded you may choose Instant or Advanced order mode to trade.</p>
        <h3 id="how-does-instant-order-work">How does instant order work?</h3>
        <p>With instant order you instantly place an order that matches the best available prices in the market. Notice that in times of low market liquidity Instant order may lead to unfavorable prices, therefore this mode is not recommended for high volume trading.</p>
        <h3 id="how-does-advanced-order-limit-order-work">How does advanced order (limit order) work?</h3>
        <p>When you place an advanced order you specify what price you wish to pay or sell for. Your order will then be placed in the order book until it is matched.</p>
        <h3 id="how-to-cancel-an-open-order">How to cancel an open order?</h3>
        <p>Advanced orders that are not yet filled may be cancelled by selecting <em>Trade</em> then <em>Orders</em> in the left side menu. Trading fee is not charged on cancelled orders.</p>
        <h3 id="what-is-the-order-book">What is the order book?</h3>
        <p>The order book is displayed to the right in the Trading interface. It contains all active orders with unit prices and sizes, these orders are available for trading.</p>
        <h2 id="other">Other</h2>
        <h3 id="how-do-i-buy-litecoin">How do I buy Litecoin?</h3>
        <p>LTC can be bought through our BTC/LTC-market. This means that you may only buy LTC with BTC. If you have EUR and want to buy LTC you must first buy BTC.</p>
        <h3 id="how-do-i-buy-ripples">How do I buy ripples?</h3>
        <p>XRP can be bought through our BTC/XRP-market. This means that you may only buy XRP with BTC. If you have EUR and want to buy XRP you must first buy BTC.</p>
        <h3 id="can-i-withdraw-euro-to-ripple">Can I withdraw euro to Ripple?</h3>
        <p>No. We currently do not support fiat currency IOUs, meaning that you may not withdraw USD/EUR/NOK IOUs to Ripple. This is planned to be implemented in the future.</p>
        <h3 id="what-does-6-confirmations-required-mean">What does 6 confirmations required mean?</h3>
        <p>6 confirmations are only relevant when depositing Bitcoin or Litecoin. Your Bitcoin/Litecoin deposit transaction needs 6 confirmations on the blockchain in order to be credited to your account at Justcoin. This is to prevent double-spending. 6 confirmations usually take less than an hour.</p>
        <h3 id="iam-having-problems-receiving-the-sms-for-verification">Iam having problems receiving the sms for verification?</h3>
        <p>Your phone number may be verified via SMS providing the verification code. If it does not work at first try: make another attempt and make sure you have good reception on your phone and that you have entered your number correctly, without spaces or symbols. If it asks you to try again later the number is locked out temporarily to prevent abuse, you will be able to try again later. There is currently no other way to verify your phone number.</p>
        <h3 id="how-do-i-change-my-email-address">How do I change my email address?</h3>
        <p>Users cannot change their email address.</p>
        <h3 id="does-justcoin-accept-paypal-or-credit-cards">Does Justcoin accept PayPal or Credit Cards?</h3>
        <p>We currently do not accept credit cards or PayPal due to risk of chargebacks.</p>
        <h3 id="what-is-2fa-two-factor-authentication-one-time-password">What is 2FA (Two-factor authentication/One-Time Password)?</h3>
        <p>2FA is an optional and convenient way to increase security of your account. We recommend using Google Authenticator as the authentication tool.</p>
        <h3 id="i-am-getting-wrong-codes-when-scanning-the-the-qr-code">I am getting <em>wrong codes</em> when scanning the the QR-code?</h3>
        <p>If you are having problems with 2FA please make sure the clock on your authentication device is set to 'Auto adjust date and time' as wrong time settings causes faulty codes.</p>
        <h3 id="i-deleted-google-authenticator-from-my-phone-how-do-i-disable-2fa-otp">I deleted Google Authenticator from my phone. How do I disable 2FA/OTP?</h3>
        <p>You may use the <em>Forgot password</em> function to reset your password. This will disable Two-factor authentication. You will need to have your phone and email available for verification purposes.</p>
        <h3 id="i-am-getting-logged-out-after-a-short-period-of-time-can-i-increase-this-timer">I am getting logged out after a short period of time. Can I increase this timer?</h3>
        <p>If you enable 2FA the log out-timer will increase to 60 minutes.</p>
        <h2 id="support">Support</h2>
        <p>If you have read the F.A.Q. carefully and did not receive answer to your question, use the question mark in the lower right corner to get in touch with support. We try to answer all inquiries within 24 hours but please note that in periods of high activity delays may occur.</p>
      </div>
    </div>
  </div>
<% include partials/footer-en.ejs %>
