@-webkit-viewport,
@-moz-viewport,
@-ms-viewport,
@-o-viewport,
@viewport
  width: device-width

.header
  background white
  padding 10px

.flags
  margin-top: 5px
  margin-right: 10px;
  @media (max-width: 500px)
    margin-right: 3px;

.exchangerates
  opacity: 0;
  float: right;

.rates
  padding: 4px 40px 0px 0px;
  margin: 0;
  font-size: 10px;

.spacebetween
  margin-left: 30px;

.largerfont
  font-size: 22px;

@media (max-width: 732px)
  .exchangerates
    float: none;
    text-align: center;
  .rates
    padding: 15px 0px 0px 0px;
    margin: 0;
    font-size: 9px;
  .spacebetween
    margin-left: 8px;
  .largerfont
    font-size: 17px;

.cover
    background-color: #70d0fa
    background-image url("/norway.jpg")
    background-size cover
    background-position center
    height 601px
    margin: 0 -15px

    .cover-content
      margin-top 200px

    .tagline, .sub-tagline
      color: white;
      text-shadow: 0px 1px black;
      font-size: 50px;
      font-weight: normal;
      font-family: ProximaNova, Arial, sans-serif;

    .sub-tagline
      font-size 20px

@media (max-width: 768px)
  .cover
    height 240px

    .tagline, .sub-tagline
      font-size 30px

    .sub-tagline
      font-size 18px

    .cover-content
      margin-top 20px

body
  margin 0
  padding 0

.logo
  //background yellow

.nav
  //background blue
  text-align right

.customer-count
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  padding-top 25px
  margin-bottom 50px
  text-align center

.media-item
  margin-top:25px
.media-item:last-child
  margin-left:50px

@media(max-width:768px)
    .customer-count
      font-size 23px

.wrapper
  padding: 0 15px;

.btn
  border-radius: 2px
  border: 0;

.btn-success
  background-color: #7fba00

.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success
  background-color: #72a700

.btn.cta
  padding: 18px 28px;
  font-size: 32px;
  line-height: normal;
  border-radius: 4px;
  margin-top 45px

.btn-login
  margin-top: 2px

@media(max-width:768px)
  .btn.cta
      font-size: 24px;
      margin-top 24px
  .btn-login
      padding: 4px 6px
      font-size: 13px
      margin-top: 6px

.vias i
  font-size 9em
  color #4488AA
  margin-top: 20px

@media(max-width:768px)
  .vias i
    font-size: 3em

.vias > *
  text-align center

.footer
  margin: 0
  margin-top 150px
  border-top solid 1px #ccc
  background #444
  color #c9c9c9
  padding-top 50px

@media (max-width: 1200px)
  .footer-logo
    display: none

.footer .links > p
  border-bottom:solid 1px #666

.footer .links, .footer .links li
  list-style-type: none
  padding-bottom 7px

  a
    color #c9c9c9

.testimonials .testimonial .quote
  font-size: 1.3em;
  color #222
  font-style: italic;

@media(max-width:500px)
  .testimonials .testimonial .quote
    font-size: 1em;

.testimonial
  border solid 1px #fafafa
  background #f9f9f9
  padding 2em

.quoter
  text-align right

h2
  margin-top 35px

@media(max-width:500px)
  .customer-count
    margin-bottom 30px
  .media-item:last-child
    margin-left:0
  .footer
    margin-top: 30px;

.faq h3
    font-size 20px

@media(max-width:500px)
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
  .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
  .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, 
  .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, 
  .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
  .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
  .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, 
  .col-sm-12, .col-md-12, .col-lg-12, .row
    padding-right: 8px;
    padding-left: 8px;
