<% include partials/header-no.ejs %>
  <div class="cover row">
    <div class="cover-content col-md-12" style="text-align:center">
      <p class="tagline">
        Kjøp og selg Bitcoin
      </p>
      <p class="sub-tagline">
        Norges første Bitcoin-exchange
      </p>

      <a class="cta btn-success btn" href="/client/#auth/register">Start med Justcoin</a>
    </div>
  </div>

  <div class="flags pull-right">
      <a href="#set-language" data-language="nb-NO"><img src="/NO.png" alt="Norsk" /></a>
      <a href="#set-language" data-language="en-US"><img src="/US.png" alt="English" /></a>
  </div>

  <div class="customer-count row">
    <strong class="user-count">10 000</strong> Brukere
  </div>

  <div class="vias container">
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-star fa-5"></i></p>
      <h3>Lett å bruke</h3>
      <p>Enten du er en Bitcoin-nybegynner eller en erfaren trader er det raskt og enkelt å sette opp en konto og begynne å handle.</p>
    </div>
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-bitcoin fa-5"></i></p>
      <h3>Kun 0,5% handelsavgift</h3>
      <p>Det er kun 0.5% avgift ved handel hos Justcoin og gratis å sette inn NOK.</p>
    </div>
    <div class="col-md-4">
      <p class="icon-container"><i class="fa fa-lock fa-5"></i></p>
      <h3>Overlegen sikkerhet</h3>
      <p>Hos Justcoin er over 90% av kundenes bitcoin lagret i et brannsikkert bankhvelv. Din sikkerhet er alltid vår øverste prioritet.</p>
    </div>
  </div>

  <hr>

  <div class="container media" style="text-align:center">
    <h2>Justcoin i media</h2>
    <img src="/coindesk.png" class="media-item">
    <img src="/nrk-no.png" class="media-item">
  </div>

  <hr>

  <div class="container testimonials"  style="text-align:center">
    <div>
      <h3>Våre kunder sier</h3>
    </div>
    <div class="testimonial">
      <div class="quote">
            <span class="before-quote">“</span>Jeg var lenge usikker på Bitcoins, heldigvis fant jeg Justcoin, en norsk trygg og enkel børs.<span class="after-quote">”</span>
          </div>
      <div class="quoter">
        Nicolai N, Oslo
      </div>
    </div>
  </div>
<% include partials/footer-no.ejs %>
