<% include partials/header-no.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1 id="personvern">Personvern</h1>

          <h2 id="personlig-informasjon">Personlig informasjon</h2>

          <ul>
          <li>Ved å registrere deg og bruke Justcoin aksepterer du at Justcoin vil spørre om personlig informasjon. Dette innebærer fullt navn, adresse, telefonnummer, e-postadresse, bankkontodetaljer og handelshistorikk. Vi kan i visse tilfeller også etterspørre identifikasjon, fødselsdato eller annen dokumentasjon ment kun for å verifisere identitet. </li>
          <li>Vi vil ikke dele din personlige informasjon med noen, med mindre dette er lovlig og rettslig anmodet av myndighetene. Hvis Justcoin er i en omstruktureringsprosess, for eksempel fusjon eller salg av virksomheten kan det også bli aktuelt å dele personlig informasjon med de involverte i denne prosessen. </li>
          </ul>
      </div>
    </div>
  </div>
<% include partials/footer-no.ejs %>
