<% include partials/header-en.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1 id="privacy-policy">Privacy policy</h1>

          <h2 id="personal-information">Personal Information</h2>

          <ul>
          <li>By using Justcoin you accept that Justcoin will collect your personal information. This involves full name; address; phone number; e-mail address; bank account details and trading history. We may also request photographic identification; date of birth, bank statements or other documentation used solely for the purpose of verifying identification.</li>
          <li>We will not share any of your personal information with anyone, unless requested by law enforcement or regulatory authorities, if required by law. We may share members’ personal information in the case of a merger, divestiture or other kind of re-organisation of Justcoin, to whom involved in this process.</li>
          </ul>
      </div>
    </div>
  </div>
<% include partials/footer-en.ejs %>
