<% include partials/header-no.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 id="brukervilk-r">Brukervilkår</h1>
                        <p>Sist oppdatert: 2013-10-29</p>
                        <h2 id="generelle-vilk-r">Generelle vilkår</h2>
                        <ul>
                        <li>Ved registrering og bruk av Justcoin godtar bruker alle vilkår herunder og bekrefter at han eller hun er 18 år eller eldre.</li>
                        <li>All personlig informasjon som registreres på Justcoin må være reell og riktig. Kontoer opprettet med falsk eller misvisende informasjon vil bli avsluttet. Kontoer er personlige og skal kun benyttes av eier. Det er kun tillatt å registrere én konto per person.</li>
                        <li>Justcoin kan ikke holdes ansvarlig for direkte eller indirekte tap av profitt, tap av data eller skade som følge av tekniske feil, funksjonssvikt, avbrutt internettforbindelse eller lignende.</li>
                        <li>En selger eller kjøper på Justcoin garanterer at de er rett eier av midler satt inn på Justcoin, og at midlene er fremskaffet på lovlig vis.</li>
                        <li>Justcoin vil på ingen tidspunkt opptre som investeringsrådgiver. Justcoin er kun en handelsplass og et bindeledd mellom brukere og tar ingen ansvar for brukeres investeringsvalg.</li>
                        <li>Justcoin verken tillater eller støtter bruk av Justcoin i forbindelse med hvitvasking, terrorfinansiering eller annen finansiering av kriminell virksomhet. Hvis vi mener at slik aktivitet foregår vil vi terminere respektiv(e) konto(er) og eventuelt rapportere aktivitet til rett instans. Justcoin vil ikke konfiskere en suspendert bruker sin beholdning, vi vil returnere beholdningen til eieren så billig og raskt som mulig.</li>
                        <li>Bruk av Justcoin som oppretter en forbindelse mellom Justcoin og aktører som bryter med norsk lov er ikke tillatt. Eksempelvis er det <strong>ikke tillatt å bruke Justcoin som en vekslingsstasjon ved kjøp av ulovlige legemidler eller våpen</strong>.</li>
                        <li>Justcoin reserverer seg retten til å kunne terminere en konto uten forvarsel eller begrunnelse ved brudd på avtalevilkårene. Brukerens beholdning vil i slike tilfeller alltid bli returnert før terminering.</li>
                        </ul>
                        <h2 id="kostnadstabell">Kostnadstabell</h2>
                        <h3 id="kurtasje">Kurtasje</h3>
                        <table>
                            <tr>
                                <th>BTC/USD</th>
                                <td>0%</td>
                                <td>Kampanje ut 2013</td>
                            </tr>
                            <tr>
                                <th>BTC/EUR</th>
                                <td>0%</td>
                                <td>Kampanje ut 2013</td>
                            </tr>
                            <tr>
                                <th>BTC/NOK</th>
                                <td>0.5%</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>BTC/LTC</th>
                                <td>0.5%</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>BTC/XRP</th>
                                <td>0.5%</td>
                                <td></td>
                            </tr>
                        </table>

                        <h3 id="innskudd">Innskudd</h3>
                        <h4 id="sepa">SEPA</h4>
                        <table>
                            <tr>
                                <th>EUR</th>
                                <td>~2.50 EUR</td>
                            </tr>
                        </table>

                        <h4 id="utenfor-sepa-internasjonal-wire">Utenfor SEPA / Internasjonal wire</h4>
                        <table>
                            <tr>
                                <th>USD</th>
                                <td>~10.00 USD</td>
                            </tr>
                            <tr>
                                <th>EUR</th>
                                <td>~7.50 EUR</td>
                            </tr>
                        </table>

                        <h4 id="norsk-bankoverf-ring">Norsk bankoverføring</h4>
                        <table>
                            <tr>
                                <th>NOK</th>
                                <td>0.00 NOK</td>
                            </tr>
                        </table>

                        <h3 id="uttak">Uttak</h3>
                        <h4 id="sepa_1">SEPA</h4>
                        <table>
                            <tr>
                                <th>EUR</th>
                                <td>~5.00 EUR</td>
                            </tr>
                        </table>

                        <h4 id="utenfor-sepa-internasjonal-wire_1">Utenfor SEPA / Internasjonal wire</h4>
                        <table>
                            <tr>
                                <th>USD</th>
                                <td>~14.00 USD</td>
                            </tr>
                            <tr>
                                <th>EUR</th>
                                <td>~10.00 EUR</td>
                            </tr>
                        </table>

                        <h4 id="norsk-bankoverf-ring_1">Norsk bankoverføring</h4>
                        <table>
                            <tr>
                                <th>NOK</th>
                                <td>10.00 NOK</td>
                            </tr>
                        </table>

                        <ul>
                        <li>For annen informasjon om innskudd, uttak og handel, se under.</li>
                        </ul>
                        <h2 id="innskudd_1">Innskudd</h2>
                        <ul>
                        <li>Se 'Kostnadstabell' over for kostnader ved innskudd.</li>
                        <li><strong>NOK</strong>: Vi aksepterer bankoverføringer fra norsk bankkonto registrert i samme navn som din Justcoin-konto, som også må være ditt eget fulle navn. Bankoverføringer blir kreditert din Justcoin-konto <strong>innen to bankdager</strong>, tiden varierer avhengig av hvilken bank du overfører fra og av hvilket tidspunkt på dagen betalingen blir registrert. For eksempel kan en betaling registrert i din bank torsdag kveld potensielt ikke bli synlig i vår bank før mandag morgen, mens en betaling registrert torsdag morgen vil bli synlig i vår bank fredag morgen. Overføringer fra konto i DNB er raskere enn fra andre banker. Vi krediterer din Justcoin-konto umiddelbart etter vi har mottatt betalingen. Minimum innskudd er NOK 100.</li>
                        <li><strong>SEPA</strong>: Vi aksepterer innskudd av EUR gjennom Europabetaling (SEPA) fra konto registrert i samme navn som din Justcoin-konto, fra Albania, Andorra, Belgia, Bosnia-Hercegovina, Bulgaria, Danmark, Estland, Finland, Frankrike, Færøyene, Gibraltar, Grønland, Guernsey, Hellas, Irland, Island, Isle of Man, Italia, Jersey, Kroatia, Kypros, Latvia, Liechtenstein, Litauen, Luxembourg, Makedonia, Malta, Mauritius, Monaco, Montenegro, Nederland, Norge, Polen, Portugal, Romania, San Marino, Serbia, Slovakia, Slovenia, Spania, Storbritannia, Sveits, Sverige, Tsjekkia, Tunisia, Tyrkia, Tyskland, Ungarn eller Østerrike. Vi krediterer din Justcoin-konto umiddelbart etter vi har mottatt betalingen. Minimum innskudd er EUR 25.</li>
                        <li><strong>Internasjonale bankoverføringer</strong>:  Vi godtar innskudd av USD/EUR fra USA, Canada, Australia, New Zealand, Brazil, Costa Rica, Mexico og Sør-Afrika, samt USD fra europeiske land. Minimum innskudd er EUR 25 / USD 35.</li>
                        <li><strong>Bitcoin</strong>: Vi krever seks (6) bekreftelser før vi krediterer din konto.</li>
                        <li><strong>Litecoin</strong>: Vi krever seks (6) bekreftelser før vi krediterer din konto.</li>
                        </ul>
                        <h2 id="uttak_1">Uttak</h2>
                        <ul>
                        <li>Se 'Kostnadstabell' over for kostnader ved uttak.</li>
                        <li>Vi overfører NOK til norske kunder via vanlig norsk bankoverføring. Europabetaling(SEPA) og internasjonal bankoverføring blir brukt til andre (land listet nedenfor).</li>
                        <li>Uttak blir behandlet fortløpende og vil være ferdig overført innen omtrent 2 bankdager, dette gjelder for både norske overføringer og SEPA. Internasjonale bankoverføringer kan ta noe lenger tid.</li>
                        <li>Justcoin tar ikke ansvar for eventuelle avgifter i mottakers bank.</li>
                        <li>Vi gjennomfører uttak av EUR med SEPA til følgende land: Albania, Andorra, Belgia, Bosnia-Hercegovina, Bulgaria, Danmark, Estland, Finland, Frankrike, Færøyene, Gibraltar, Grønland, Guernsey, Hellas, Irland, Island, Isle of Man, Italia, Jersey, Kroatia, Kypros, Latvia, Liechtenstein, Litauen, Luxembourg, Makedonia, Malta, Mauritius, Monaco, Montenegro, Nederland, Norge, Polen, Portugal, Romania, San Marino, Serbia, Slovakia, Slovenia, Spania, Storbritannia, Sveits, Sverige, Tsjekkia, Tunisia, Tyrkia, Tyskland, Ungarn eller Østerrike.</li>
                        <li><strong>Internasjonale bankoverføringer</strong>:  Vi gjennomfører uttak av USD/EUR til USA, Canada, Australia, New Zealand, Brazil, Costa Rica, Mexico og Sør-Afrika, samt USD til europeiske land.</li>
                        <li>Bitcoin-, Litecoin- og Rippleuttak er sendt sekunder etter uttak er forespurt.</li>
                        </ul>
                        <h2 id="handel">Handel</h2>
                        <ul>
                        <li>Se 'Kostnadstabell' over for handelsprovisjon.</li>
                        <li>Handelsprovisjon er trukket i samme valuta man handler med.</li>
                        <li>Gjennomførte handler er ikke reversible. Ordre kan avbrytes når som helst før de er gjennomført (handlet). Alle handler og overføringer av Bitcoin, Litecoin og Ripple er endelige.</li>
                        <li>Handler er anonyme. Du vil aldri vite hvem du handler med eller har handlet med.</li>
                        <li>På grunn av matematiske restriksjoner vil det bli utført randomisert avrunding på handelsbeløp og priser når det er nødvendig. Disse avrundingene er små og designet rettferdig for begge parter slik at de ikke er mulig å utnytte.</li>
                        </ul>
                        <h2 id="kundesupport-og-veiledning">Kundesupport og veiledning</h2>
                        <ul>
                        <li>Trykk på spørsmålstegnet i det nedre høyre hjørnet for å komme i kontakt med oss.</li>
                        <li>Vennligst send oss en melding hvis du har spørsmål eller trenger veiledning med tjenesten. Vi tilstreber å svare på alle forespørsler innen 24 timer.</li>
                        <li>Vi vil ikke assistere medlemmer som har behov for veiledning til andre tjenester enn Justcoin.</li>
                        <li>Eventuelle spørsmål kunden blir stilt fra veileder er kun ment for å løse kundens problem. Spørsmål besvares frivillig.</li>
                        <li>Informasjon oppgitt av medlem under kundeveiledning som tyder på at kunden bryter med Justcoin sine vilkår kan føre til suspensjon og/eller terminering.</li>
                        </ul>
                        <h2 id="juridisk">Juridisk</h2>
                        <ul>
                        <li>Justcoin vil tilstrebe å kontinuerlig følge all form for regulering som relaterer til eller tilfaller våre tjenester. Hvis nye reguleringer, lover eller forskrifter blir utlyst som strider med vår tjeneste vil vi endre vår tjeneste deretter.- Hvis en bruker av Justcoin bryter med våre brukervilkår vil vi suspendere og/eller terminere kontoen og returnere utestående saldo til brukeren. Vi vil oppfylle en eventuell rettslig anmodning fra myndighetene om å beslaglegge en brukers midler grunnet hvitvasking, finansiering av kriminell aktivitet, bedrag eller lignende.</li>
                        <li>Brukere av Justcoin er selv ansvarlig for å følge alle lover og regler hva angår skatt, avgifter eller andre reguleringer tilknyttet handel i digital valuta.</li>
                        </ul>
                        <h2 id="sikkerhet">Sikkerhet</h2>
                        <ul>
                        <li>Brukere anbefales på det sterkeste å velge et sikkert passord. IKKE bruk passord som er brukt andre steder. Justcoin er ikke ansvarlig hvis en brukers konto blir misbrukt grunnet tap av passord.</li>
                        <li>Justcoin bruker oppdaterte sikkerhetssystemer for å sikre brukeres private informasjon og midler. Disse systemene blir testet og oppdatert kontinuerlig.</li>
                        <li>Justcoin lagrer brukeres midler i offline wallets for å minimere risikoen for tyveri.</li>
                        </ul>
      </div>
    </div>
  </div>
<% include partials/footer-no.ejs %>
