<% include partials/header-en.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="terms-of-use">Terms of use</h1>
            <p>Last updated: 2014-11-28</p>
            <h2 id="general-terms">General terms</h2>
            <ul>
                <li>By registering an account on AIRBEX all users
                    accept these terms and warrant that they are at
                    least 18 years of age and are capable of
                    understanding the contents of these terms.</li>
                <li>All personal information submitted to AIRBEX
                    must be correct. Accounts registered with false
                    information will be terminated. Each individual may
                    only register one account. Your account is personal
                    and may only be used by you.</li>
                <li>AIRBEX will not be held liable for any direct
                    or indirect loss of profit, damages or loss of data
                    caused by technical issues, malfunction, and
                    interrupted internet connection or similar.</li>
                <li>A seller or buyer on AIRBEX warrants that they
                    rightfully own the funds deposited to AIRBEX,
                    acquired from legal sources.</li>
                <li>AirBEx will at no time provide investment
                    guidance or give investment advice to users. We are
                    solely an intermediary and take no responsibility on
                    users’ investments.</li>
                <li>The company do not allow or support use of
                    AIRBEX as a tool in money laundering or financing of
                    illegal projects or investments. If we believe such
                    activity is present we will suspend and/or terminate
                    the account. AIRBEX will not confiscate suspended
                    users funds; we will return them to user as quick
                    and cheap as possible.</li>
                <li>Use of AIRBEX that creates a link between
                    AIRBEX and services that do not comply with
                    International laws is not allowed. In example: it is
                    <strong>not allowed to use AIRBEX as an
                        intermediary to buy illegal pharmaceuticals or
                        weapons online</strong>.
                </li>
                <li>AIRBEX reserve its right to suspend and/or
                    terminate an account without notice or reason if
                    violation of terms is believed to be present. Funds
                    will always be returned to member before
                    termination.</li>
            </ul>
            <h2 id="fee-table">Fee table</h2>
            <h3 id="trading-fee">Trading fee</h3>
            <p>AirBEx uses a maker-taker fee structure in order to
                incentivize customers to populate the order book,
                current trading fees can change any time but you will
                receive an information email before.</p>
            <p>For all markets, current offer:</p>

            <ul>
                <li>0.2% fee for Liquidity Takers (Liquidity
                    removed from the order book)</li>
                <li>0.1% reward (or negative fee) for Market Makers
                    (Liquidity Providers)</li>

            </ul>


            <h3 id="deposits">Deposits</h3>
            <h4 id="swift">SWIFT</h4>
            <table>
                <tr>
                    <th>USD and EUR</th>
                    <td>8 USD (converted on the spot for euro
                        transfers)</td>
                </tr>
            </table>


            <h3 id="withdrawals">Withdrawals</h3>
            <h4
                id="swift_1 »>SWIFT</h4>
        <table>
            <tr>
                <th>USD and EUR</th>
                <td>20 USD (converted on the spot for euro transfers)</td>
            </tr>
        </table>


        <ul>
        <li>For other information regarding deposits, withdrawals and trading, see below.</li>
        </ul>
        <h2 id="deposits_1">
                Deposits
                </h2>
                <ul>
                    <li>See 'Fee table' above for deposit fees.</li>

                    <li><strong>International wire
                            transfers</strong>: We currently accept international
                        wire transfers of USD/EUR from all over the
                        world. We also accept international wire
                        transfers of USD from European countries.
                        Minimum deposit is EUR 100 / USD 100.</li>
                    <li>AirBEx will only accept and make transfers
                        only to accounts in banks located in the
                        countries that are in full compliance with the
                        FATF regulations (for more information visit:
                        http://www.fatf-gafi.org/topics/high-riskandnon-
                        cooperativejurisdictions/). The company will not
                        accept transfers from the following countries:
                        Iran, Democratic Peoples's Republic of Korea
                        DPRK), Algeria, Ecuador, Ethiopia, Indonesia,
                        Myanmar, Pakistan, Syria, Turkey, Yemen The
                        following countries will be subject to selective
                        screening depending on the bank of origin etc:
                        Afghanistan, Albania, Angola, Argentina,
                        Cambodia, Cuba, Iraq, Kenya, Kuwait, Kyrgyzstan,
                        Lao PDR, Mongolia, Namibia, Nepal, Nicaragua,
                        Papua New Guinea, Sudan, Tajikistan, Tanzania,
                        Uganda, Zimbabwe</li>

                    <li><strong>Bitcoin/Litecoin</strong>: We
                        require six (6) confirmations before crediting
                        your account.</li>
                </ul>
                <h2 id="withdrawals_1">Withdrawals</h2>
                <ul>
                    <li>See 'Fee table' above for withdrawal fees.</li>
                    <li>Withdrawals are processed continuously and
                        will appear in your account within 1-4 bank
                        days.</li>
                    <li>AIRBEX are not responsible for fees applied
                        by receivers bank.</li>
                    <li><strong>International wire
                            transfers</strong>: We currently process
                        international wire transfers of EUR/USD to all
                        over the world. AirBEx also process
                        international wire transfers of USD to european
                        countries.</li>
                    <li>AirBEx will only accept and make transfers
                        only to accounts in banks located in the
                        countries that are in full compliance with the
                        FATF regulations (for more information visit:
                        http://www.fatf-gafi.org/topics/high-riskandnon-
                        cooperativejurisdictions/). The company will not
                        accept transfers from the following countries:
                        Iran, Democratic Peoples's Republic of Korea
                        DPRK), Algeria, Ecuador, Ethiopia, Indonesia,
                        Myanmar, Pakistan, Syria, Turkey, Yemen The
                        following countries will be subject to selective
                        screening depending on the bank of origin etc:
                        Afghanistan, Albania, Angola, Argentina,
                        Cambodia, Cuba, Iraq, Kenya, Kuwait, Kyrgyzstan,
                        Lao PDR, Mongolia, Namibia, Nepal, Nicaragua,
                        Papua New Guinea, Sudan, Tajikistan, Tanzania,
                        Uganda, Zimbabwe</li>
                    <li>All withdrawals are manually approved using
                        a four eyes principle and can only be done to a
                        predefined account by the customer and manually
                        approved by the company.</li>
                    <li>Bitcoin, Litecoin and Ripple withdrawals
                        are sent within seconds of being requested.</li>
                </ul>
                <h2 id="trading">Trading</h2>
                <ul>
                    <li>See 'Fee table' above for trading fees.</li>
                    <li>The trading fee is deducted in the same
                        currency you are offering in a trade but
                        converted to USD for display. This applies both
                        to buyer and seller, and to all kinds of
                        currency traded.</li>
                    <li>Exchange orders, once matched, are not
                        reversible. Exchange orders may be canceled at
                        any time until matched. All transfers of
                        Bitcoin, Litecoin or Ripple are final.</li>
                    <li>Trades are anonymous. You will not be able
                        to know who you trade with.</li>
                    <li>Due to mathematical restrictions there will
                        be performed random rounding on trade amounts
                        and prices when this is needed, which makes them
                        non-exploitable and fair to both parties.</li>
                </ul>
                <h2 id="customer-support-guidance">Customer support
                    &amp; guidance</h2>
                <ul>
                    <li>Click the question mark in the lower right
                        corner to get in touch with us.</li>
                    <li>Please do not hesitate to send us an
                        inquiry if you have any questions or need
                        guidance; we strive to answer all questions
                        within 24 hours.</li>
                    <li>We do not guide users in problems they have
                        at other services than AIRBEX.</li>
                    <li>All questions asked by supervisor during
                        support are meant to solve the customers
                        problem. All questions are voluntary to answer.</li>
                    <li>Information provided by the member during
                        customer guidance suggesting violation of our
                        Terms may be used to suspend and/or terminate
                        the users account.</li>
                </ul>
                <h2 id="regulation-and-compliance">Regulation and
                    compliance</h2>
                <ul>
                    <li>Users of AirBEx trading and exchange
                        platform are responsible to figure out
                        themselves if they are allowed or not to trade
                        fiat and crypto currencies before using this
                        service.</li>
                    <li>AirBEx will comply with any and all
                        regulations that relates to our services. If new
                        regulations are set that contradicts our Terms
                        of use, we will change our Terms of use
                        accordingly.</li>
                    <li>If a member of AIRBEX violates our Terms of
                        use, we will suspend and/or terminate their
                        account and return funds to member. If it is
                        legally requested by authorities to seize a
                        member’s funds due to money laundering,
                        financing of criminal activities, fraud or
                        other, we will comply accordingly.</li>
                    <li>Members of AIRBEX are responsible for
                        complying with any and all laws regarding to tax
                        or other regulations on their own trading
                        activity.</li>
                </ul>
                <h2 id="security-precautions">Security precautions</h2>
                <ul>
                    <li>Users are responsible for choosing a secure
                        password and keeping it to themselves. Passwords
                        used elsewhere should NOT be used on AirBEx.
                        AirBEx is not liable if an account is misused
                        due to loss or theft of password.</li>
                    <li>AIRBEX uses up-to-date and secure
                        encryption systems to ensure members private
                        information and funds. These systems are
                        revised, tested and updated regularly.</li>
                    <li>We highly recommend using Two Factor
                        Authentication. This may be enabled under
                        account settings.</li>
                    <li>It is user’s responsibility to manage
                        their passwords with precaution</li>
                    <li>We use, as much as we can, offline wallets
                        to secure the funds.</li>
                </ul>
                <h2 id="personal-data">Transfert of personal data
                    and information</h2>
                <ul>
                    <li>AirBEx will never transmit any information
                        regarding its customers to any third party.</li>
                    <li>AirBEx could reveal private customer’s
                        information to an official authority only if it
                        is requested by a tribunal or a court that has
                        jurisdiction where the company operates.</li>
                </ul>
        </div>
    </div>
</div>
<% include partials/footer-en.ejs %>
