<% include partials/header-en.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 id="terms-of-use">Terms of use</h1>
        <p>Last updated: 2013-10-29</p>
        <h2 id="general-terms">General terms</h2>
        <ul>
        <li>By registering an account on Justcoin all users accept these terms and warrant that they are at least 18 years of age and are capable of understanding the contents of these terms.</li>
        <li>All personal information submitted to Justcoin must be correct. Accounts registered with false information will be terminated. Each individual may only register one account. Your account is personal and may only be used by you.</li>
        <li>Justcoin will not be held liable for any direct or indirect loss of profit, damages or loss of data caused by technical issues, malfunction, and interrupted internet connection or similar.</li>
        <li>A seller or buyer on Justcoin warrants that they rightfully own the funds deposited to Justcoin, acquired from legal sources.</li>
        <li>We will at no time provide investment guidance or give investment advice to users. We are solely an intermediary and take no responsibility on members’ investments.</li>
        <li>We do not allow or support use of Justcoin as a tool in money laundering or financing of illegal projects or investments. If we believe such activity is present we will suspend and/or terminate the account. Justcoin will not confiscate suspended members funds; we will return them to member as quick and cheap as possible.</li>
        <li>Use of Justcoin that creates a link between Justcoin and services that do not comply with Norwegian laws is not allowed. In example: it is <strong>not allowed to use Justcoin as an intermediary to buy illegal pharmaceuticals or weapons online</strong>.</li>
        <li>Justcoin reserve its right to suspend and/or terminate an account without notice or reason if violation of terms is believed to be present. Funds will always be returned to member before termination.</li>
        </ul>
        <h2 id="fee-table">Fee table</h2>
        <h3 id="trading-fee">Trading fee</h3>
        <table>
            <tr>
                <th>BTC/USD</th>
                <td>0%</td>
                <td>Promotion through 2013</td>
            </tr>
            <tr>
                <th>BTC/EUR</th>
                <td>0%</td>
                <td>Promotion through 2013</td>
            </tr>
            <tr>
                <th>BTC/NOK</th>
                <td>0.5%</td>
                <td></td>
            </tr>
            <tr>
                <th>BTC/LTC</th>
                <td>0.5%</td>
                <td></td>
            </tr>
            <tr>
                <th>BTC/XRP</th>
                <td>0.5%</td>
                <td></td>
            </tr>
        </table>

        <h3 id="deposits">Deposits</h3>
        <h4 id="sepa">SEPA</h4>
        <table>
            <tr>
                <th>EUR</th>
                <td>~2.50 EUR</td>
            </tr>
        </table>

        <h4 id="non-sepa-international-wire">Non-SEPA / International wire</h4>
        <table>
            <tr>
                <th>USD</th>
                <td>~10.00 USD</td>
            </tr>
            <tr>
                <th>EUR</th>
                <td>~7.50 EUR</td>
            </tr>
        </table>

        <h4 id="norwegian-domestic-transfer">Norwegian domestic transfer</h4>
        <table>
            <tr>
                <th>NOK</th>
                <td>0.00 NOK</td>
            </tr>
        </table>

        <h3 id="withdrawals">Withdrawals</h3>
        <h4 id="sepa_1">SEPA</h4>
        <table>
            <tr>
                <th>EUR</th>
                <td>~5.00 EUR</td>
            </tr>
        </table>

        <h4 id="non-sepa-international-wire_1">Non-SEPA / International wire</h4>
        <table>
            <tr>
                <th>USD</th>
                <td>~14.00 USD</td>
            </tr>
            <tr>
                <th>EUR</th>
                <td>~10.00 EUR</td>
            </tr>
        </table>

        <h4 id="norwegian-domestic-transfer_1">Norwegian domestic transfer</h4>
        <table>
            <tr>
                <th>NOK</th>
                <td>10.00 NOK</td>
            </tr>
        </table>

        <ul>
        <li>For other information regarding deposits, withdrawals and trading, see below.</li>
        </ul>
        <h2 id="deposits_1">Deposits</h2>
        <ul>
        <li>See 'Fee table' above for deposit fees.</li>
        <li><strong>SEPA</strong>: We accept EUR through SEPA payments, from accounts registered in the same name as your Justcoin account, from Albania, Andorra, Belgium, Bosnia and Herzegovina, Bulgaria, Denmark, Estonia, Finland, France, Faroe Islands, Gibraltar, Greenland, Guernsey, Greece, Ireland, Iceland, Isle of Man, Italy, Jersey, Croatia, Cyprus, Latvia, Liechtenstein, Lithuania, Luxembourg, Macedonia, Malta, Mauritius, Monaco, Montenegro, Netherlands, Norway, Poland, Portugal, Romania, San Marino, Serbia, Slovakia, Slovenia, Spain, UK, Switzerland, Sweden, Czech Republic, Tunisia, Turkey, Germany, Hungary or Austria. We credit your Justcoin-account once we receive the payment, without delay. Minimum deposit is EUR 25.</li>
        <li><strong>International wire transfers</strong>:  We currently accept international wire transfers of USD/EUR from USA, Canada, Australia, New Zealand, Brazil, Costa Rica, Mexico and South Africa. We also accept international wire transfers of USD from European countries. Minimum deposit is EUR 25 / USD 35.</li>
        <li><strong>Norwegian domestic transfers (NOK)</strong>: We accept bank transfers from Norwegian bank accounts registered in the same name as your Justcoin-account (your own real name). Bank deposits are credited <strong>within two bank days</strong>, depending on which bank you are transferring from and at what time. In example, a transfer registered in your bank Thursday night may not appear in our bank before Monday morning. A transfer registered Thursday morning will appear in our bank Friday morning. Transfers from DNB bank accounts are usually quicker.  We credit your Justcoin-account once we receive the payment, without delay. Minimum deposit is NOK 100.</li>
        <li><strong>Bitcoin</strong>: We require six (6) confirmations before crediting your account.</li>
        <li><strong>Litecoin</strong>: We require six (6) confirmations before crediting your account.</li>
        </ul>
        <h2 id="withdrawals_1">Withdrawals</h2>
        <ul>
        <li>See 'Fee table' above for withdrawal fees.</li>
        <li>We perform withdrawals through regular Norwegian bank transfers to our Norwegian customers, through SEPA for our European EUR customers (countries listed below), and through international wire transfer for USA, Canada, Australia, New Zealand, Brazil, Costa Rica, Mexico and South Africa.</li>
        <li>Withdrawals are processed continuously and will appear in your account within 1-4 bank days.</li>
        <li>Justcoin are not responsible for fees applied by receivers bank.</li>
        <li><strong>SEPA</strong>: We perform SEPA-withdrawals of EUR to the following countries: Albania, Andorra, Belgium, Bosnia and Herzegovina, Bulgaria, Denmark, Estonia, Finland, France, Faroe Islands, Gibraltar, Greenland, Guernsey, Greece, Ireland, Iceland, Isle of Man, Italy, Jersey, Croatia, Cyprus, Latvia, Liechtenstein, Lithuania, Luxembourg, Macedonia, Malta, Mauritius, Monaco, Montenegro, Netherlands, Norway, Poland, Portugal, Romania, San Marino, Serbia, Slovakia, Slovenia, Spain, UK, Switzerland, Sweden, Czech Republic, Tunisia, Turkey, Germany, Hungary and Austria.</li>
        <li><strong>International wire transfers</strong>:  We currently process international wire transfers of EUR/USD to USA, Canada, Australia, New Zealand, Brazil, Costa Rica, Mexico and South Africa. We also process international wire transfers of USD to european countries.</li>
        <li>Bitcoin, Litecoin and Ripple withdrawals are sent within seconds of being requested.</li>
        </ul>
        <h2 id="trading">Trading</h2>
        <ul>
        <li>See 'Fee table' above for trading fees.</li>
        <li>The trading fee is deducted in the same currency you are offering in a trade. This applies both to buyer and seller, and to all kinds of currency traded.</li>
        <li>Exchange orders, once matched, are not reversible. Exchange orders may be canceled at any time until matched. All transfers of Bitcoin, Litecoin or Ripple are final.</li>
        <li>Trades are anonymous. You will not be able to know who you trade with.</li>
        <li>Due to mathematical restrictions there will be performed random rounding on trade amounts and prices when this is needed, which makes them non-exploitable and fair to both parties.</li>
        </ul>
        <h2 id="customer-support-guidance">Customer support &amp; guidance</h2>
        <ul>
        <li>Click the question mark in the lower right corner to get in touch with us.</li>
        <li>Please do not hesitate to send us an inquiry if you have any questions or need guidance; we strive to answer all questions within 24 hours.</li>
        <li>We do not guide users in problems they have at other services than Justcoin.</li>
        <li>All questions asked by supervisor during support are meant to solve the customers problem. All questions are voluntary to answer.</li>
        <li>Information provided by the member during customer guidance suggesting violation of our Terms may be used to suspend and/or terminate the users account.</li>
        </ul>
        <h2 id="regulation-and-compliance">Regulation and compliance</h2>
        <ul>
        <li>Justcoin will comply with any and all regulations that relates to our services. If new regulations are set that contradicts our Terms of use, we will change our Terms of use accordingly.</li>
        <li>If a member of Justcoin violates our Terms of use, we will suspend and/or terminate their account and return funds to member. If it is legally requested by authorities to seize a member’s funds due to money laundering, financing of criminal activities, fraud or other, we will comply accordingly.</li>
        <li>Members of Justcoin are responsible for complying with any and all laws regarding to tax or other regulations on their own trading activity.</li>
        </ul>
        <h2 id="security-precautions">Security precautions</h2>
        <ul>
        <li>Users are responsible for choosing a secure password and keeping this to themselves. Passwords used elsewhere should NOT be used on Justcoin. Justcoin are not liable if an account is misused due to loss of password.</li>
        <li>Justcoin uses up-to-date and secure encryption systems to ensure members’ private information and funds. These systems are revised, tested and updated regularly.</li>
        <li>We highly recommend using Two Factor Authentication. This may be enabled under account settings.</li>
        <li>We use offline wallets to secure members’ funds.</li>
        </ul>
      </div>
    </div>
  </div>
<% include partials/footer-en.ejs %>
