<div class="section container">
    <div class="row">
        <div class="span6 offset4">
            <h3>Something went wrong...</h3>

            <p>I'm not entirely sure how to handle this error, so you're just seeing this default page</p>

            <p>
                <pre><%= JSON.stringify(error, null, 4) %></pre>
            </p>

            <p>Maybe you can retry what you were doing or ask support for help</p>
        </div>
    </div>
</div>