<div class="section container">
    <div class="row">
        <div class="span4 offset4">
            <p>Welcom to snowcoin</p>

            <p>
                <a href="#login">Log in</a>
            </p>
        </div>
    </div>
</div>
