<div class="section container">
    <div class="row">
        <div class="span4 offset4">
            <h3>Ahoy, 'coiner!</h3>

            <p>I wasn't really expecting anyone to see this, but uhm.. welcome!</p>

            <p>This is snowcoin, a service that stores and exchanges your digital securities.</p>

            <p>
                Sign in with
                <a href="/authorize/redirect"><img src="https://www.google.com/images/icons/ui/gprofile_button-64.png" /></a>
                to get started
            </p>
        </div>
    </div>
</div>