<div class="section container">
    <div class="row">
        <div class="span4 offset4">
            <h3>Sign in</h3>

            <div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="text" class="email" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" class="password" />
                </div>
                <div>
                    <button class="login">Login</button>
                    <button class="register">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
