<div class="section container">
    <div class="row">
        <div class="span4 offset4">
            <h3>Sign in</h3>

            <a href="/authorize/redirect"><img src="https://www.google.com/images/icons/ui/gprofile_button-64.png" /></a>
        </div>
    </div>
</div>