<div class="section container">
    <div class="row">
        <div class="span4 offset4">
            <h3>Register</h3>
            <p>Existing user? <a href="#login">Login here</a></p>

            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="email">E-mail</label>
                    <div class="controls">
                        <input class="email" type="text" id="email" placeholder="E-mail" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input class="password" id="password" type="password" placeholder="Password" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="register btn btn-primary" type="submit">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
