<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs" id="admin-user-tabs">
                <li class="user">
                    <a href="#users/<%= userId %>">User #<%= userId %></a>
                </li>
                <li class="accounts">
                    <a href="#users/<%= userId %>/accounts">Accounts</a>
                </li>
                <li class="withdraw-requests">
                    <a href="#users/<%= userId %>/withdraw-requests">Withdraw requests</a>
                </li>
                <li class="activity">
                    <a href="#users/<%= userId %>/activity">Activity</a>
                </li>
                <li class="bank-accounts">
                    <a href="#users/<%= userId %>/bank-accounts">Bank accounts</a>
                </li>
                <li class="bank-credit">
                    <a href="#users/<%= userId %>/bank-credit">Bank credit</a>
                </li>
                <li class="orders">
                    <a href="#users/<%= userId %>/orders">Orders</a>
                </li>
                <li class="transactions">
                    <a href="#transactions?userId=<%= userId %>">Transactions</a>
                </li>
            </ul>
        </div>
    </div>
</div>
