.jc-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid #e5e5e5
}

.jc-footer p {
    margin-bottom: 0;
    color: #777
}

.footer-links {
    margin: 10px 0;
    padding-left: 0
}

.footer-links li {
    display: inline;
    padding: 0 2px
}

.footer-links li:first-child {
    padding-left: 0
}