<footer id="footer" class="jc-footer">
	<div class="container">
		<!-- 		<div class="flags pull-right"> -->
		<!-- 			<a href="#set-language" data-language="en-US"> -->
		<!-- 			<img -->
		<!-- 				src="img/flags/NO.png" alt="Norsk" /></a> <a href="#set-language" -->
		<!-- 				data-language="en-US"> -->
		<!-- 			<img src="img/flags/US.png" alt="English" /></a> -->
		<!-- 		</div> -->
		<!-- 		<div class="logo pull-left"> -->
		<!-- 			<img src="img/sbex-footer.png" alt="sbex" /> -->
		<!-- 		</div> -->
		<ul class="footer-links">
			<!-- 			<span class="support"> -->
			<li><a href="mailto:support@sbex.ch" target="_blank"><%=
					i18n('master.footer.support') %></a></li>
			<!-- 			</span> -->
			<li class="muted">·</li>
			</li>
			<li><a href="#about/company"> <%=
					i18n('master.footer.about') %></a></li>
			<li>
			<li class="muted">·</li>
			</li>
			<li><a href="#about/terms"> <%= i18n('master.footer.terms')
					%></a></li>
			<li>
			<li class="muted">·</li>
			</li>
			<li><a href="#about/privacy"> <%=
					i18n('master.footer.privacy') %></a></li>
			<li class="muted">·</li>
			</li>
			<li>
			<li><a href="#about/audit"> <%= i18n('master.footer.audit')
					%></a></li>
			<li>
				<!-- 			<li class="muted">·</li> --> <!-- 			<li><a --> <!-- 				href="https://github.com/justcoin/snow/blob/master/docs/calls.md"> -->
				<!-- 					<%= i18n('master.footer.api docs') %></a></li> -->
		</ul>
	</div>
</footer>