<footer id="footer" class="jc-footer">
    <div class="container">
        <!-- 		<div class="flags pull-right"> -->
        <!-- 			<a href="#set-language" data-language="en-US"> -->
        <!-- 			<img -->
        <!-- 				src="img/flags/NO.png" alt="Norsk" /></a> <a href="#set-language" -->
        <!-- 				data-language="en-US"> -->
        <!-- 			<img src="img/flags/US.png" alt="English" /></a> -->
        <!-- 		</div> -->
        <!-- 		<div class="logo pull-left"> -->
        <!-- 			<img src="img/airbex-footer.png" alt="airbex" /> -->
        <!-- 		</div> -->
        <ul class="footer-links">
            <!-- 			<span class="support"> -->
            <li><a href="mailto:<%= config.email_support %>"
                target="_blank"><%= i18n('master.footer.support') %></a></li>
            <!-- 			</span> -->
            <li class="muted">·</li>
            </li>
            <li><a href="/en/about"> <%=
                    i18n('master.footer.about', company) %></a></li>
            <li>
            <li class="muted">·</li>
            </li>
            <li><a href="/en/terms"> <%=
                    i18n('master.footer.terms') %></a></li>
            <li>
            <li class="muted">·</li>
            </li>
            <li><a href="/en/privacy"> <%=
                    i18n('master.footer.privacy') %></a></li>
            <li class="muted">·</li>
            </li>
            <li><a href="/apidoc/"> API</a></li>

        </ul>

        <ul>
            <p>
                <small>&copy; Copyright 2015 - Airbex.net </small>
            </p>
        </ul>
    </div>

</footer>