<div class="container">
    <div class="withdraw-nav"></div>

    <div class="col-lg-9">
        <h1 class="content-title"><%= i18n('withdrawbtc.heading') %></h1>

        <div class="content-area clearfix">
            <p class="lead"><%= i18n('withdrawbtc.intro') %></p>

            <div class="row">
                <div class="col-lg-8">
                    <form class="entry visible-entry">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="amount-placeholder"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group address">
                                    <label for="address" class="control-label">
                                        <%= i18n('withdrawbtc.address.label') %>
                                    </label>

                                    <input class="field form-control" type="text" name="address" />
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-large submit">
                                        <%- i18n('withdraw.bitcoin.entry.submit') %>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="review visible-review">
                        <h4><%- i18n('withdraw.bitcoin.review.heading') %></h4>
                        <p><%- i18n('withdraw.bitcoin.review.intro') %></p>

                        <table class="table table-compact payment-details">
                            <tr>
                                <td><%- i18n('withdraw.bitcoin.review.send to') %></td>
                                <td><strong><span class="address"></span></strong></td>
                            </tr>
                            <tr>
                                <td><%- i18n('withdraw.bitcoin.review.amount') %></td>
                                <td><strong><span class="amount"></span></strong> BTC</td>
                            </tr>
                            <tr>
                                <td><%- i18n('withdraw.bitcoin.review.fee') %></td>
                                <td><%- i18n('withdraw.bitcoin.review.no fee') %></td>
                            </tr>
                        </table>

                        <div class="actions">
                            <button class="btn btn-success btn-large confirm">
                                <%- i18n('withdraw.bitcoin.review.confirm') %>
                            </button>
                            <button class="btn cancel">
                                <%- i18n('withdraw.bitcoin.review.cancel') %>
                            </button>
                        </div>
                    </div>

                    <div class="summary visible-summary">
                        <h4><%- i18n('withdraw.bitcoin.summary.heading') %></h4>

                        <p><%- i18n('withdraw.bitcoin.summary.intro') %></p>

                        <table class="table table-compact payment-details">
                            <tr>
                                <td><%- i18n('withdraw.bitcoin.summary.send to') %></td>
                                <td><strong><span class="address"></span></strong></td>
                            </tr>
                            <tr>
                                <td><%- i18n('withdraw.bitcoin.summary.amount') %></td>
                                <td><strong><span class="amount"></span></strong> BTC</td>
                            </tr>
                            <tr class="status">
                                <td><%- i18n('withdraw.bitcoin.summary.status') %></td>
                                <td>
                                    <div class="visible-requested progress progress-striped active">
                                        <div class="bar" style="width:25%"></div>
                                    </div>

                                    <div class="visible-processing progress progress-striped active">
                                        <div class="bar" style="width:50%"></div>
                                    </div>

                                    <div class="visible-completed">
                                        <div class="progress progress-success">
                                            <div class="bar" style="width:100%"></div>
                                        </div>
                                        <%- i18n('withdraw.bitcoin.summary.status.success') %>
                                    </div>

                                    <div class="visible-cancelled">
                                        <div class="progress progress-danger">
                                            <div class="bar" style="width:100%"></div>
                                        </div>
                                        <%- i18n('withdraw.bitcoin.summary.status.cancelled') %>
                                        <span class="cancelled-reason"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
