<div class="container section" id="accounts">
    <h1>Accounts</h1>

    <table class="accounts table">
        <thead>
            <tr>
                <th></th>
                <th>Currency</th>
                <th>Available</th>
                <th><!-- actions --></th>
            </tr>
        </head>
        <tbody>
        </tbody>
    </table>
</div>