<h1>Account log</h1>

<table class="activities table table-striped table-bordered table-hover" style="width:auto;">
    <thead>
        <tr>
            <th>When</th>
            <th></th>
        </tr>
    </head>
    <tbody>
    </tbody>
</table>
