<div class="container section" id="balances">
    <h1>Funds</h1>

    <table class="balances table">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Available</th>
                <th></th>
            </tr>
        </head>
        <tbody>
        </tbody>
    </table>
</div>
