<div class="container" id="books">
    <h1>Books</h1>

    <table class="books table">
        <thead>
            <tr>
                <th></th>
                <th>Bid</th>
                <th>Ask</th>
            </tr>
        </head>
        <tbody>
        </tbody>
    </table>
</div>