<h1><%= pair %></h1>

<button class="create-order btn">Place order</button>

<div class="row">
    <table class="books table table-bordered table-striped" style="width:auto;">
        <thead>
            <tr>
                <th>Bid volume</th>
                <th>Price</th>
                <th>Ask volume</th>
            </tr>
        </head>
        <tbody>
        </tbody>
    </table>
</div>
