<div class="container" id="book">
    <h1></h1>

    <div class="row">
        <a href="" class="create-order btn">Place order</a>
    </div>

    <div class="row">
        <table class="books table table-bordered table-striped" style="width:auto;">
            <thead>
                <tr>
                    <th>Bid volume</th>
                    <th>Price</th>
                    <th>Ask volume</th>
                </tr>
            </head>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
