<div class="container" id="books">
    <h1>Books</h1>

    <table class="books table table-striped table-bordered table-hover" style="width:auto;">
        <thead>
            <tr>
                <th></th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Last</th>
                <th>High</th>
                <th>Low</th>
                <th>Volume</th>
            </tr>
        </head>
        <tbody>
        </tbody>
    </table>
</div>