<ul class="nav nav-pills side">
    <li class="active buy"><a href="#">Buy <%= base_security %></a></li>
    <li class="sell"><a href="#">Sell <%= base_security %></a></li>
</ul>

<form class="well span9">
    <div class="row">
        <div class="span3">
            <label>Amount to buy</label>
            <div class="input-append">
                <input class="input input-medium volume" type="text" />
                <span class="add-on base-security"></span>
            </div>
        </div>
        <div class="span3">
            <label>Price per</label>
            <div class="input-append">
                <input class="input input-medium price" type="text" />
                <span class="add-on base-security"></span>
            </div>
        </div>
        <div class="span3">
            <div class="input-append">
                <label>Order total</label>
                <input class="input input-medium disabled" disabled="disabled" type="text" value="TODO" />
                <span class="add-on base-security"></span>
            </div>
        </div>
    </div>
</form>

<p class="explanation"></p>

<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-success" data-action="place-order">Place order</button>
        <button class="btn" data-action="cancel">Cancel</button>
    </div>
</div>
