<div class="section container">
    <div class="row">
        <div class="span4">
            <h3>Deposit LTC</h3>

            <p>Send to this address:</p>
            <p><pre><%= address %></pre></p>
        </div>
    </div>
</div>