<div class="section container">
    <div class="row">
        <div class="span4 offset4">
            <p>Welcome to snowcoin</p>
            <p>This service is in ALPHA quality. E-mail a@abrkn.com for help</p>

            <p>
                <a href="#login">Log in</a>
            </p>
        </div>
    </div>
</div>
