<h1><%= pair %></h1>

<div class="row">
    <div class="place-order-container span5"></div>

    <div class="span4" style="margin-top:58px;">
        <table class="markets table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Bid volume</th>
                    <th>Price</th>
                    <th>Ask volume</th>
                </tr>
            </head>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
