<div class="section container">
    <div class="row">
        <div class="span4">
            <h3><%= currencyId %> to Ripple</h3>

            <form class="form well span4">
                <div class="control-group">
                    <label class="control-label" for="address">Address</label>
                    <div class="controls">
                        <input type="text" class="span4" id="address" data-binding="address" placeholder="Ripple address" >
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="amount">Amount</label>
                    <div class="controls">
                        <div class="input-append">
                            <input class="input input-small volume" for="amount" data-binding="amount" type="text" />
                            <span class="add-on currency"><%= currencyId %></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success" data-action="withdraw">Withdraw</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
