<h1>Transactions</h1>

<table class="transactions table table-striped table-bordered table-hover" style="width:auto;">
    <thead>
        <tr>
            <th>ID</th>
            <th>When</th>
            <th>Amount</th>
        </tr>
    </head>
    <tbody>
    </tbody>
</table>
