<h1>Transactions</h1>

<table class="transactions">
    <thead>
        <tr>
            <th>#</th>
            <th>Time</th>
            <th>Account</th>
            <th>Amount</th>
        </tr>
    </head>
    <tbody>
    </tbody>
</table>
