<h1>Orders</h1>

<table class="orders table table-striped table-hover table-bordered" style="width:auto;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Market</th>
            <th>Type</th>
            <th>Price</th>
            <th>Volume</th>
            <th>Remaining</th>
            <th></th>
        </tr>
    </head>
    <tbody>
    </tbody>
</table>
