<tr class="transaction" data-id="<%= id %>">
    <td class="id"><%= id %></td>
    <td class="date"><%= moment(createdAt).format('YYYY-MM-DD HH:mm') %></td>
    <td class="type"><%= type %></td>
    <td class="amount">
        <%= numbers.format(amount, { currency: currency }) %>
    </td>
    <td>
        <% if (debitUserId) { %>
            (<a href="#users/<%= debitUserId %>">#<%= debitUserId %></a>, <%= debitUserName || debitUserEmail %>)
        <% } else { %>
            <%= debitAccountType %>
        <% } %>
    </td>
    <td>
        <% if (creditUserId) { %>
            (<a href="#users/<%= creditUserId %>">#<%= creditUserId %></a>, <%= creditUserName || creditUserEmail %>)
        <% } else { %>
            <%= creditAccountType %>
        <% } %>
    </td>
</tr>
