<div class="container markets">
    <h3><%= i18n('markets') %></h3>

    <div class="row">
        <div class="span7">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th><%= i18n('markets.column headers.last') %></th>
                        <th><%= i18n('markets.column headers.bid') %></th>
                        <th><%= i18n('markets.column headers.ask') %></th>
                        <th><%= i18n('markets.column headers.high') %></th>
                        <th><%= i18n('markets.column headers.low') %></th>
                        <th><%= i18n('markets.column headers.volume') %></th>
                    </tr>
                </thead>
                <tbody class="list"></tbody>
            </table>
        </div>
    </div>
</div>
