#area .deposit-crypto
    .address
        font-size: 1em
        padding-top 20px
        padding-bottom 20px

    .disclaimer
        font-size 1em

#area .deposit-voucher
    states redeeming redeemed cancelled

    .form
        max-width 28em

        .control-label
            width 5em

        .controls
            margin-left 6.5em

            select, input, button
                width 100%
                max-width 11em

            input
                max-width 10em


#area .deposit-ccc
    #logoccc
        background:black;
        width:300px;
            
#area .deposit-bank
    states allowed

    .label-messageToRecipient
        font-size 1em
      
    .payment-details
        font-size 1.2em

        .row
            margin-top 1em

table.depth th,
.level .price,
.level .volume
    white-space: nowrap