.admin-users
    .users-table
        width auto

        .user-id-header, .user-id
            width 80px
        .name-header, .name
            width 175px
        .email-header, .email
            width 250px
        .country-header, .country
            width 105px
        .actions-header, .actions
            width 200px

    .search-form
        .search

        &.is-loading
            .search
                is-loading()
